<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<meta http-equiv="content-language" content="ua">
<title>IT news | Kleynodsoft</title>
<link href="css/style.css" rel="stylesheet" type="text/css" >
 
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" >
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-georgia.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>

<link rel="stylesheet" type="text/css" href="highslide/highslide.css" >
<script type="text/javascript" src="highslide/highslide.js"></script>
<script type="text/javascript">
hs.graphicsDir = 'highslide/graphics/';
hs.wrapperClassName = 'wide-border';
</script>
<!-- меню -->
<link rel="stylesheet" href="css/style2.css" type="text/css" media="screen, projection">
	<!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
    <![endif]-->
			
	<script type="text/javascript" src="js/jquery-1.3.1.min.js"></script>	
	<script type="text/javascript" language="javascript" src="js/jquery.dropdownPlain.js"></script>
<!-- меню -->
<!--text-->
<script>
function look(type){
param=document.getElementById(type);
if(param.style.display == "none") param.style.display = "block";
else param.style.display = "none"
}
</script>
<!--text-->
</head>
<body>

<!-- change this div to a nav tag if you're not planning on supporting IE users -->
	<div class="menu">
		<ul class="primary-menu">
			<li class="facebook"><a class="social-item" href="#null" onClick="openWin2()" >f</a><span class="social-span">Become a fan on Facebook</span></li>
			     <script><!-- hide
                 function openWin2() {
                 myWin=open("http://www.facebook.com/sharer.php?u=http://www.kleynodsoft.com/en/it_news.html","displayWindow","width=520,height=300,left=350,top=170,status=no,toolbar=no,menubar=no");
                 }
                 // -->
                 </script>
			<li class="twitter"><a class="social-item" href="https://twitter.com/share" class="twitter-share-button" data-lang="ru" target=_blank>t</a><span class="social-span">Follow us on Twitter</span></li>
			     <script>
                 !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			<li class="flickr"><a class="social-item" href="http://plus.google.com/share?url=http://www.kleynodsoft.com/en/it_news.html" target=_blank>g+</a><span class="social-span">Add us on Google+</span></li>
			<li class="rss"><a class="social-item" href="http://vkontakte.ru/share.php?url=http://www.kleynodsoft.com/en/it_news.html" target="_blank">vk</a><span class="social-span">Follow us on Vk</span></li>
			<li class="mail"><a class="social-item" target="_blank"
 class="mrc__plugin_uber_like_button" 
href="http://connect.mail.ru/share" data-mrc-config="{'type' : 
'button', 'caption-mm' : '1', 'caption-ok' : '1', 'counter' : 'true',
 'text' : 'true', 'width' : '100%'}"><img src="images/mail.png" border='0' alt='' style="margin-top: -5px;"></a><span class="social-span">Follow us on Mail.ru</span><script src="http://cdn.connect.mail.ru/js/loader.js" 
type="text/javascript" charset="UTF-8"></script></li>
		</ul>
	</div>
	<!-- change this div to a nav tag if you're not planning on supporting IE users -->
	
	
       
<div class="main">
<div class="logo">
        <a href="http://kleynodsoft.com/en/index.html"><img src="images/logo_en.png"></a>

</div>
		<div class="flag">
	  <a href="http://www.kleynodsoft.com/it_news.html"><img src="images/ukrainian.png" border=0 alt=" "></a>
	 <p> <a href="http://www.kleynodsoft.com/ru/it_news.html"><img src="images/russian.png" border=0 alt=" "></a></p>
	  <p><a href="it_news.html"><img src="images/english.png" border=0 alt=" "></a></p>
	  </div>
	  
  <div class="header">
    <div class="header_resize">
        
	  <div class="clr"></div>
	  <div class="menu_nav">
		 	  <ul class="dropdown">
           <li class="active"><a class="a" href="it_news.html" style="height: 10px; display: block;"><div class="indent"><button class="minimal-indent"><span>News</span></button></div></a></li>
 <li><a class="a" href="index.html">About Us</a></li>
          <li><a class="a" href="#"><span>Portfolio</span></a>
		     <ul class="sub_menu">
		     <li><a href="portfolio.html" class="z">Web-design</a></li>
			 <li><a href="portfolio-video.html"  class="z">Installation of Video Recording and Alerts System</a></li>
			 </ul>
		</li>
         <li><a class="a" href="#"><span>Our service</span></a>
		      <ul class="sub_menu">
		    <li><a href="outsourcing.html" class="z" style="color: #ffffff "><font style="font-size: 20px;">Outsourcing</font></a></li>
			<li><a href="vstanovlennya.html" class="z">Installation of CCTV </a>
			     <ul>
			     <li><a href="vstanovlennya_vlasnoy.html" class="z">Installation and Servicing of Own Video Recording and Alerts System </a>
				 	     <ul>
        			     <li><a href="ohoronni_kompanii.html" class="z">For Security Companies</a></li>
					     <li><a href="ofic.html" class="z">For Offices and Logistic Centres</a></li>
					     <li><a href="private.html" class="z">For Individuals</a></li>
				         </ul>
				 </li>
			     </ul>
			  </li>
			<li><a href="web_design.html" class="z">Web design</a></li>
			<li><a href="analiz.html" class="z">Websites Security Analyzing </a></li>
			<li><a href="el_arhiv.html" class="z">Digital Archive of Documents</a></li>
			<li><a href="SEO.html" class="z">SEO- service</a></li>
			   </ul>
		</li>
		  <li><a class="a" href="patent.html"><span>Patents</span></a></li>
		  <li id="xc"><a class="a" href="our_partners.html"><span>Partners and Clients</span></a></li>
          <li><a class="a" href="contact.html"><span>Contact Us</span></a></li>
        </ul>
	  </div>
  <div class="cv"><img src="images/line_m.png" border=0 alt=" "></div>
    </div>
  </div>
  
<div class="grafic_w" >
	
   <img border='1' src="images/News.png" id='SlideShow' width='960' height='333'></a>
</div>   
  
<div class="content">

<div class="tx_s">
<br><h3 style="font-size: 20px;">See the latest news in IT - industry, namely in the field of outsourcing, videosposterezhennyaya, Web - development, security, workflow elktronnyy, SEO, presentations you can by clicking on the following link...</h3></br>
<center><a href="news/news_it.html"><img src="images/New.png" border="0" alt=""></a></center>
 </div>      
</div>

<div class="clr"></div>


<div class="footer" style="background-image: url('images/footer.png')">
      (С) Kleynod Soft Ltd., 2013
<!--LiveInternet counter--><div style="float:right;margin-right: -150px;"><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.11;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21702094 = new Ya.Metrika({id:21702094,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21702094" style="position:absolute; left:-9999px;" alt="" ></div></noscript>   </div>
<!-- /Yandex.Metrika counter -->
</div>
</div>

</div>


</body>
</html>