<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<meta http-equiv="content-language" content="ua">
<meta name="geo.placename" content="Украина, Львов" > 
<title>IT новини | Kleynodsoft</title>
<link href="css/style_news.css" rel="stylesheet" type="text/css" >
<link rel="stylesheet" type="text/css" href="css/layout.css" />
     <link rel="stylesheet" type="text/css" href="css/style1.css" />
	 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
     <script language="javascript" type="text/javascript" src="js/jquery.easing.js"></script>
     <script language="javascript" type="text/javascript" src="js/script1.js"></script>
<script type="text/javascript">
 $(document).ready( function(){	
		var buttons = { previous:$('#jslidernews2 .button-previous') ,
						next:$('#jslidernews2 .button-next') };			 
		$('#jslidernews2').lofJSidernews( { interval:5000,
											 	easing:'easeInOutQuad',
												duration:1200,
												auto:true,
												mainWidth:684,
												mainHeight:450,
												navigatorHeight		: 130,
												navigatorWidth		: 310,
												maxItemDisplay:3,
												buttons:buttons } );						
	});

</script>
<style>
	
	ul.lof-main-wapper li {
		position:relative;	
	}
</style>
</head>

<body>
<div class="header">
<a href="http://kleynodsoft.com/en/index.html"  title="Home"><img src="images/logo_news.png" border='0' alt="" height="100%"></a>
</div>
<div id="slideout">
<div class="df">&nbsp</div>
<img src="images/feedback.png" alt="Меню" >
<div id="slideout_inner">
<div class="menu">
     <ul><li><center><a href="news_it.html#1" title="Outsourcing"><img src="images/outsourcing.png" border='0' alt="" width='65%'>Outsourcing</a></center></li></ul>
	 <ul><li><center><a href="news_it.html#2" title="Video"><img src="images/video.png" border='0' alt="" width='65%'>Video</a></center></li></ul>
	 <ul><li><center><a href="news_it.html#3" title="Web - Development"><img src="images/internet.png" border='0' alt="" width='65%'>&nbsp&nbsp&nbsp Web - Development</a></center></li></ul>
	 <ul><li><center><a href="news_it.html#4" title="Security"><img src="images/secur.png" border='0' alt="" width='65%'>Security</a></center></li></ul>
	 <ul><li><center><a href="news_it.html#5" title="Electronic Document"><img src="images/arhiv.png" border='0' alt="" width='65%'>Electronic Document</a></center></li></ul>
	 <ul><li><center><a href="news_it.html#6" title="SEO"><img src="images/SEO2.png" border='0' alt="" width='65%'>&nbsp&nbsp SEO</a></center></li></ul>
	 <ul><li><center><a href="news_it.html#7" title="Presentations"><img src="images/prez2.png" border='0' alt="" width='65%'>Presentations</a></center></li></ul>
	 </ul>
</div>
</div>
</div>
<div class="clr"></div>
<div class="content">
     <div class="back"><a href="http://www.kleynodsoft.com/en/index.html">Return to start</a></div>
	 <!------------------------------------- THE CONTENT ------------------------------------------------->
<div id="jslidernews2" class="lof-slidecontent" style="width:79.5%; height:58.5%; clear: right; float:left; margin-bottom: 6%;">
	<div class="preload"><div></div></div>
            
            
            <div  class="button-previous">Back</div>
                   
    		 <!-- MAIN CONTENT --> 
              <div class="main-slider-content" style="width:31.5%; height:100%;">
                <ul class="sliders-wrap-inner">
                    <li>
                            <img src="images/01.jpg" title="Новость 1" width='70%'>           
                          <div class="slider-description" style="heigth: 100%">
                            <h4>New 1</h4>
                            <p>Security experts predict kriptoapokalipsis...
                            <a class="readmore" href="12.html">More </a>
                            </p>
                         </div>
                    </li> 
                   <li>
                      <img src="images/google-play-logo-550x348.jpg" title="Новость 2" width='70%' >           
                         <div class="slider-description" style="heigth: 100%">
                           <h4>New 2</h4>
                            <p>The catalog Google Play revealed 28 apps that extend Android-Trojans...
                            <a class="readmore" href="13.html">More </a>
                            </p>
                         </div>
                    </li> 
                   <li>
                      <img src="images/kasper3.jpg" title="Новость 3"  width='70%'>            
                        <div class="slider-description" style="heigth: 100%">
                          <h4>New 3</h4>
                            <p>Kaspersky hopes to take place in the U.S. public sector...
                            <a class="readmore" href="14.html">More </a>
                            </p>
                         </div>
                    </li>           
                  </ul>  	
            </div>
 		   <!-- END MAIN CONTENT --> 
           <!-- NAVIGATOR -->
           	<div class="navigator-content">
                  <div class="navigator-wrapper">
                        <ul class="navigator-wrap-inner">
                          <li>
                                <div style="padding: 5% 0 0 0; ">
                                    <img src="images/thumbs/1.jpg" width='100%'>
                                    <h3> New 1 </h3>
                                    <span>13.08.2013</span> - Click for more information...
                                </div>    
                            </li>
                             <li>
                                <div style="padding: 5% 0 0 0;">
                                    <img src="images/thumbs/google-play-logo-550x348.jpg" width='100%'>
                                    <h3> New 2 </h3>
                                    <span>13.08.2013</span> -Click for more information...
                                </div>    
                            </li>
                
                            <li>
                                <div style="padding: 5% 0 0 0;">
                                    <img src="images/thumbs/kasper3.jpg" width='100%'>
                                    <h3> New 3 </h3>
                                    <span>13.08.2013</span> - Click for more information...
                                </div>     
                            </li>
                        </ul>
                  </div>
   
             </div> 
          <!----------------- END OF NAVIGATOR --------------------->
          <div class="button-next">Forward</div>
 
 		 <!-- BUTTON PLAY-STOP -->
          <div class="button-control"><span></span></div>
          <!-- END OF BUTTON PLAY-STOP -->
           
 </div> 

<!------------------------------------- END OF THE CONTENT ------------------------------------------------->


</div>
<div class="line_v">&nbsp</div>
<div class="reclama">

     <div class="zag"><h3 style="margin-top: -2%;">Advertising</h3></div>
	 It will be placed blocks of advertising...
	 
	 
	 	 <!-- HotLog -->
<div style="float:right; right: 150px; bottom: 5px; position: fixed;"><script type="text/javascript">
hotlog_r=""+Math.random()+"&s=2311183&im=609&r="+
escape(document.referrer)+"&pg="+escape(window.location.href);
hotlog_r+="&j="+(navigator.javaEnabled()?"Y":"N");
hotlog_r+="&wh="+screen.width+"x"+screen.height+"&px="+
(((navigator.appName.substring(0,3)=="Mic"))?screen.colorDepth:screen.pixelDepth);
hotlog_r+="&js=1.3";
document.write('<a href="http://click.hotlog.ru/?2311183" target="_blank"><img '+
'src="http://hit3.hotlog.ru/cgi-bin/hotlog/count?'+
hotlog_r+'" border="0" width="88" height="31" title="HotLog: показано количество посетителей за сегодня, за вчера и всего" alt="HotLog"><\/a>');
</script>
<noscript>
<a href="http://click.hotlog.ru/?2311183" target="_blank"><img
src="http://hit3.hotlog.ru/cgi-bin/hotlog/count?s=2311183&im=609" border="0"
width="88" height="31" title="HotLog: показано количество посетителей за сегодня, за вчера и всего" alt="HotLog"></a>
</noscript></div>
<!-- /HotLog -->

	  <!--LiveInternet counter--><div style="float:right;right: 10px; bottom: 5px; position: fixed;"><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.11;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21702094 = new Ya.Metrika({id:21702094,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21702094" style="position:absolute; left:-9999px;" alt="" ></div></noscript>   </div>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-42705662-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</div>

<div class="zagolovok" id="1">
<div class="line_h"></div><div class="naz"><h4 style="font-weight: normal; margin-top: -2%;">Outsourcing</h4></div><div class="line_h_r"> </div>
</div>

<div class="new">
<a href="1.html">Four Ukrainian companies included in the top 100 best outsourcers in the world...</a>
<p><a href="2.html">Experience of outsourcing HR-functions leading companies in Ukraine: results of...</a></p>
</div>

<div class="zagolovok" id="2">
<div class="line_h"></div><div class="naz"><h4 style="font-weight: normal; margin-top: -2%;">Video</h4></div><div class="line_h_r"> </div>
</div>

<div class="new">
<a href="3.html">In Kharkov set of police surveillance...</a>
<p><a href="4.html">"Freedom" video requires the entries in the center of Kyiv ...</a></p>
</div>

<div class="zagolovok" id="3">
<div class="line_h"></div><div class="naz"><h4 style="font-weight: normal; margin-top: -2%;">Web <p> - Development</p></h4></div><div class="line_h_r"> </div>
</div>

<div class="new">
<a href="5.html">DevCampUa2013 (Ternopil) - conference on web development and associated technologies...</a>
<p><a href="6.html">Sponsored by WebMoney was IV championship in web development UWC...</a></p>
</div>

<div class="zagolovok" id="5">
<div class="line_h"></div><div class="naz"><h4 style="font-weight: normal; margin-top: -2%;">Security</h4></div><div class="line_h_r"> </div>
</div>

<div class="new">
<a href="7.html">Experts warn of the occurrence of banking trojan for Linux...</a>
<p><a href="8.html">Experts have recorded a massive attack on web-sites based on Wordpress...</a></p>
</div>

<div class="zagolovok" id="6">
<div class="line_h"></div><div class="naz"><h4 style="font-weight: normal; margin-top: -2%;">Electronic <p>document </p></h4></div><div class="line_h_r"> </div>
</div>

<div class="new">
<a href="9.html">In Ukraine, want to create an electronic archive of Famine...</a>
</div>

<div class="zagolovok" id="7">
<div class="line_h"></div><div class="naz"><h4 style="font-weight: normal; margin-top: -2%;">SEO</h4></div><div class="line_h_r"> </div>
</div>

<div class="new">
<a href="10.html">Massive online conference «SEO 2013" will take place on days!...</a>
<p><a href="11.html">SEO-garage: aid in the creation and advancing Site...</a></p>
</div>

<div class="zagolovok" id="8">
<div class="line_h"></div><div class="naz"><h4 style="font-weight: normal; margin-top: -2%;">Presentations</h4></div><div class="line_h_r"> </div>
</div>

<div class="new">

</div>




</body>
</html>