<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<title>Аутсорсинг - KleynodSoft</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
 
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" >
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-georgia.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>

<link rel="stylesheet" type="text/css" href="highslide/highslide.css" >
<script type="text/javascript" src="highslide/highslide.js"></script>
<script type="text/javascript">
hs.graphicsDir = 'highslide/graphics/';
hs.wrapperClassName = 'wide-border';
</script>
<!-- меню -->
<link rel="stylesheet" href="css/style2.css" type="text/css" media="screen, projection">
	<!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
    <![endif]-->
			
	<script type="text/javascript" src="js/jquery-1.3.1.min.js"></script>	
	<script type="text/javascript" language="javascript" src="js/jquery.dropdownPlain.js"></script>
<!-- меню -->
</head>
<body>
<!-- change this div to a nav tag if you're not planning on supporting IE users -->
	<div class="menu">
		<ul class="primary-menu">
			<li class="facebook"><a class="social-item" href="#null" onClick="openWin2()" >f</a><span class="social-span">Become a fan on Facebook</span></li>
			     <script><!-- hide
                 function openWin2() {
                 myWin=open("http://www.facebook.com/sharer.php?u=http://www.kleynodsoft.com/en/outsourcing.html","displayWindow","width=520,height=300,left=350,top=170,status=no,toolbar=no,menubar=no");
                 }
                 // -->
                 </script>
			<li class="twitter"><a class="social-item" href="https://twitter.com/share" class="twitter-share-button" data-lang="ru" target=_blank>t</a><span class="social-span">Follow us on Twitter</span></li>
			     <script>
                 !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			<li class="flickr"><a class="social-item" href="http://plus.google.com/share?url=http://www.kleynodsoft.com/en/outsourcing.html" target=_blank>g+</a><span class="social-span">Add us on Google+</span></li>
			<li class="rss"><a class="social-item" href="http://vkontakte.ru/share.php?url=http://www.kleynodsoft.com/en/outsourcing.html" target="_blank">vk</a><span class="social-span">Follow us on Vk</span></li>
			<li class="mail"><a class="social-item" target="_blank"
 class="mrc__plugin_uber_like_button" 
href="http://connect.mail.ru/share" data-mrc-config="{'type' : 
'button', 'caption-mm' : '1', 'caption-ok' : '1', 'counter' : 'true',
 'text' : 'true', 'width' : '100%'}"><img src="images/mail.png" border='0' alt='' style="margin-top: -5px;"></a><span class="social-span">Follow us on Mail.ru</span><script src="http://cdn.connect.mail.ru/js/loader.js" 
type="text/javascript" charset="UTF-8"></script></li>
		</ul>
	</div>
	<!-- change this div to a nav tag if you're not planning on supporting IE users -->
<div class="main">
<div class="logo">
        <a href="http://kleynodsoft.com/en/index.html"><img src="images/logo_en.png"></a>

</div>
		<div class="flag">
	  <a href="http://www.kleynodsoft.com/outsourcing.html"><img src="images/ukrainian.png" border=0 alt=" "></a>
	  <p><a href="http://www.kleynodsoft.com/ru/outsourcing.html"><img src="images/russian.png" border=0 alt=" "></a></p>
	 <p><a href="outsourcing.html"><img src="images/english.png" border=0 alt=" "></a></p>
	  </div>
	  
  <div class="header">
    <div class="header_resize">

	  <div class="clr"></div>
	  <div class="menu_nav">
		 	  <ul class="dropdown">
           <li><a class="a" href="it_news.html" style="height: 10px;"><div class="indent"><button class="minimal-indent"><span>News</span></button></div></a></li>
          <li><a class="a" href="index.html">About Us</a></li>
          <li><a class="a" href="our_portfolio.html"><span>Portfolio</span></a>
		     <ul class="sub_menu">
		     <li><a href="portfolio.html" class="z">Web-design</a></li>
			 <li><a href="portfolio-video.html"  class="z">Installation of Video Recording and Alerts System</a></li>
			 </ul>
		</li>
         <li class="active"><a class="a" href="our_service.html"><span>Our service</span></a>
		      <ul class="sub_menu">
		     <li><a href="outsourcing.html" class="z" style="color: #ffffff "><font style="font-size: 20px;">Outsourcing</font></a></li>
			<li><a href="vstanovlennya.html" class="z">Installation of CCTV </a>
			     <ul>
			     <li><a href="vstanovlennya_vlasnoy.html" class="z">Installation and Servicing of Own Video Recording and Alerts System </a>
				 	     <ul>
        			     <li><a href="ohoronni_kompanii.html" class="z">For Security Companies</a></li>
					     <li><a href="ofic.html" class="z">For Offices and Logistic Centres</a></li>
					     <li><a href="private.html" class="z">For Individuals</a></li>
				         </ul>
				 </li>
			     </ul>
			  </li>
			<li><a href="web_design.html" class="z">Web design</a></li>
			<li><a href="analiz.html" class="z">Websites Security Analyzing </a></li>
			<li><a href="el_arhiv.html" class="z">Digital Archive of Documents</a></li>
			<li><a href="SEO.html" class="z">SEO- service</a></li>
			   </ul>
		</li>
		  <li><a class="a" href="patent.html"><span>Patents</span></a></li>
		  <li id="xc"><a class="a" href="our_partners.html"><span>Partners and Clients</span></a></li>
          <li><a class="a" href="contact.html"><span>Contact Us</span></a></li>
        </ul>
	  </div>
    <div class="clr"></div>
    </div>
  </div>
  
<div class="grafic2">
     <img src="images/line2.png" border=0 alt=" ">   
</div>  
  
<div class="content">
<div class="put">Наш сервіс / Outsourcing...</div>



<div id="tx">
    <div id="tx_v">
    <center><h1 class="f">Kleynod Soft Ltd.</h1>
	<h1 class="f">outsourcing solutions company</h1></center>
	<img src="images/111.jpg" border='1' alt="outsourcing" style="float: right; clear: left;" vspace=10 hspace=10>

<br style="margin-top: 35px;">Are you looking for Software Outsourcing Partner?
<p style="margin-bottom: 105px;">Are you looking at moving some of your IT activities to a low cost country? </p>
</br>


	<center><h2 class="f">We are ready to be your partner and take over your activities !!!</h2></center>
<p style="display : inline">People often do not know how to spell a word or can <span class="och">outsorcing, outsurcing</span>, even the autsersery may not know the correct spelling. Now, remember once and for all, the correct spelling is <span><h2 style=" display: inline; color: #cbd66e;">Outsourcing</h2></span>!</p>
<p><b>Kleynod Soft</b> is an Ukrainian software development company delivering complex mobile software and web solutions. </p>

<p><b>Kleynod Soft</b> works with software development companies to leverage resources and maximize value to their customers. If you are a software company and have more work than your team can handle, or have specific requirements which you do not have people for, we look forward to offer our services to leverage your resources and execute the projects for you. </p>

<p>As an outsourcing partner we will provide a team, which has international experience in software outsourcing and can deliver a solution for your needs. Our team works on behalf of partner for their clients and it increases partner’s competitive advantage, efficiency and profit. </p>

<p>As an experienced and technically proficient outsourcing partner, <b>Kleynod Soft</b> takes full responsibility for the outsourcing development of your custom project thus enabling you to focus your time, energy and resources on the core business, increasing sales and market share. </p>

<p><b>Kleynod Soft</b> supports a full-cycle software outsourcing development process from requirements definition and specification, architecture design, coding, testing and validation to product maintenance and support. </p>

<h2 class="f">We offer:</h2>

<h3 class="x">Mobile Software Solutions</h3>

<div width='960'>
<font style="float: left; clear:right; width: 400px;">
<h3 style="text-style: italic;">Strategy</h3>
<ul id="spis5" style="margin-bottom: 45px;">
<li>Lines of business to mobilize</li>
<li>Short, mid and long term goals</li>
<li>Business requirements</li>
<li>Mapping of mobilized business processes into back office</li>
<li>Mobile application roadmap</li>
</ul>
</font>

<font style="float:right; margin-top: 90px; margin-left: -130px; width: 450px;">
<h3 style="text-style: italic;">Solutions</h3>
<ul id="spis5">
<li>Mobile applications requirements</li>
<li>Mobile platforms & devices</li>
<li>Back-office design</li>
<li>Implementation strategy</li>
<li>Development required</li>
</ul>
</font></div>

    <div class="clr"></div>
<div width='960'>
<h3 style="text-style: italic;">Development</h3>
<ul id="spis5" style="margin-bottom: 45px;">
<li>Scoping</li>
<li>Project planning</li>
<li>Requirements definition</li>
<li>Design/Development</li>
<li>Porting from legacy systems</li>
<li>Integration and testing</li>
<li>Acceptance</li>
<li>Maintenance and support</li>
</ul>
</div>

<h3 class="x">Software and Web Development </h3>

<div width='960'>
<font style="float: left; clear:right; width: 400px;">
<h3 style="text-style: italic;">Strategy</h3>
<ul id="spis5" style="margin-bottom: 45px;">
<li>Business Analysis</li>
<li>Requirements Definition</li>
<li>Scope & Estimate</li>
<li>Organization Gaps and Risks</li>
</ul>
</font>

<font style="float:right; margin-top: 50px; margin-left: -130px; width: 450px;">
<h3 style="text-style: italic;">Solutions</h3>
<ul id="spis5">
<li>Architecture / Design</li>
<li>Prototyping</li>
<li>Feasibility</li>
<li>Usability</li>
<li>Integration</li>
<li>QA / QC Testing</li>
<li>Documentation & Training</li>
</ul>
</font></div>

    <div class="clr"></div>
<div width='960'>
<h3 style="text-style: italic;">Development</h3>
<ul id="spis5">
<li>Product management processes</li>
<li>Requirements gathering</li>
<li>User adoption and business value</li>
<li>Release and iteration planning</li>
<li>Acceptance phase process</li>
<li>Release process</li>
<li>QC and QA process</li>
<li>Maintenance and support</li>
</ul></div>


<h2 class="f">We offer qualified software outsourcing development team.</h2>

<p><b>Kleynod Soft</b> utilizes the most modern technologies and development tools available today. High quality professionals in our team have strong educational background and hold Sun professional certificates. Learn more about software development technologies we use. </p>

<p><b>We do not outsource anything.</b></p>

<p>Your software product is custom developed completely in-house by our creative team of software developers, designers, database administrators, and architects, led by a computer science engineer, whose experience includes project management and complex problem solving.</p>

<h2 class="f" style="font-style: italic;">Our values and directions:</h2>

<p><font style="font-weight:bold;">1. Results Driving</font> – <font class="z">WE CAN</font> help you reduce costs and increase customer satisfaction, at the same time. One that can set a goal that is achievable within a specific time frame.</p>

<p><font style="font-weight:bold;">2. Partner shipping</font> – <font class="z">WE CAN</font> share your common goals and values. In which, performance is the key point among staff, the community and the managing company.</p>

<p><font style="font-weight:bold;">3. Innovation</font> – <font class="z">WE CAN</font> execute on our own across the board. We provide a great deal of benefits to you and your business with modernized technology and more.</p>

<p><font style="font-weight:bold;">4. Flexibility</font> – <font class="z">WE CAN</font> run by management that truly offer customized and tailored services, always keeping in mind the needs of you and your customers, first and foremost.</p>

<p><font style="font-weight:bold;">5. Modifiable Management</font> – <font class="z">WE CAN</font> swiftly manage changes when necessary for achieving your performance improvement goals without negative impact. WE CAN prepare staff members for a change without flaw and deliver change in a positive, productive and professional manner.</p>

<p><font style="font-weight:bold;">6. Benchmarking</font> – <font class="z">WE CAN</font> provide comparison data to ensure that your customers are receiving the highest quality of service. Offering measurable success to customers and employees satisfaction, creating more growth and profit potential for everyone involved.</p>

<p><font style="font-weight:bold;">7. Resourceful</font> – <font class="z">WE ATTAIN DEPTH</font>, with an extensiveness of experience in the long-term market and is able to offer resources specifically fitting your goals and vision.</p>

<p><font style="font-weight:bold;">8. Employee Development</font> – <font class="z">WE ARE ABLE</font> to provide comprehensive and ongoing training, as well as overall professional development for all employees, at all levels of the corporate ladder in relation to your outsourced campaign.</p>

<p><font style="font-weight:bold;">9. Continuous Improvement on Quality</font> – <font class="z">WE TAKE THINGS TO THE NEXT LEVEL</font> and raise the bar higher for every goal that is achieved; this enables you to get closer and closer to perfection. WE also encompass the willingness and ability to meet both short and long term goals.</p>


</div>
</div>


<div class="clr"></div>


<div class="footer" style="background-image: url('images/footer.png')">
      (С) Kleynod Soft Ltd., 2013
<!--LiveInternet counter--><div style="float:right;margin-right: -150px;"><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.11;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21702094 = new Ya.Metrika({id:21702094,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21702094" style="position:absolute; left:-9999px;" alt="" ></div></noscript>   </div>
<!-- /Yandex.Metrika counter -->
</div>
</div>

</div>


</body>
</html>