<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<meta http-equiv="content-language" content="ua">
<title>KleynodSoft</title>
<link href="css/style.css" rel="stylesheet" type="text/css" >
 
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" >
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-georgia.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>

<link rel="stylesheet" type="text/css" href="highslide/highslide.css" >
<script type="text/javascript" src="highslide/highslide.js"></script>
<script type="text/javascript">
hs.graphicsDir = 'highslide/graphics/';
hs.wrapperClassName = 'wide-border';
</script>
<!-- меню -->
<link rel="stylesheet" href="css/style2.css" type="text/css" media="screen, projection">
	<!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
    <![endif]-->
			
	<script type="text/javascript" src="js/jquery-1.3.1.min.js"></script>	
	<script type="text/javascript" language="javascript" src="js/jquery.dropdownPlain.js"></script>
<!-- меню -->
</head>
<body>

<!-- change this div to a nav tag if you're not planning on supporting IE users -->
	<div class="menu">
		<ul class="primary-menu">
			<li class="facebook"><a class="social-item" href="#null" onClick="openWin2()" >f</a><span class="social-span">Become a fan on Facebook</span></li>
			     <script><!-- hide
                 function openWin2() {
                 myWin=open("http://www.facebook.com/sharer.php?u=http://www.kleynodsoft.com/en/SEO.html","displayWindow","width=520,height=300,left=350,top=170,status=no,toolbar=no,menubar=no");
                 }
                 // -->
                 </script>
			<li class="twitter"><a class="social-item" href="https://twitter.com/share" class="twitter-share-button" data-lang="ru" target=_blank>t</a><span class="social-span">Follow us on Twitter</span></li>
			     <script>
                 !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			<li class="flickr"><a class="social-item" href="http://plus.google.com/share?url=http://www.kleynodsoft.com/en/SEO.html" target=_blank>g+</a><span class="social-span">Add us on Google+</span></li>
			<li class="rss"><a class="social-item" href="http://vkontakte.ru/share.php?url=http://www.kleynodsoft.com/en/SEO.html" target="_blank">vk</a><span class="social-span">Follow us on Vk</span></li>
			<li class="mail"><a class="social-item" target="_blank"
 class="mrc__plugin_uber_like_button" 
href="http://connect.mail.ru/share" data-mrc-config="{'type' : 
'button', 'caption-mm' : '1', 'caption-ok' : '1', 'counter' : 'true',
 'text' : 'true', 'width' : '100%'}"><img src="images/mail.png" border='0' alt='' style="margin-top: -5px;"></a><span class="social-span">Follow us on Mail.ru</span><script src="http://cdn.connect.mail.ru/js/loader.js" 
type="text/javascript" charset="UTF-8"></script></li>
		</ul>
	</div>
	<!-- change this div to a nav tag if you're not planning on supporting IE users-->
<div class="main">
<div class="logo">
        <a href="http://kleynodsoft.com/en/index.html"><img src="images/logo_en.png"></a>

</div>
	  <div class="flag">
	  <a href="http://www.kleynodsoft.com/SEO.html"><img src="images/ukrainian.png" border=0 alt=" "></a>
	  <p><a href="http://www.kleynodsoft.com/ru/SEO.html"><img src="images/russian.png" border=0 alt=" "></a></p>
	  <p><a href="SEO.html"><img src="images/english.png" border=0 alt=" "></a></p>
	  </div>
	  
  <div class="header">
    <div class="header_resize">

	  <div class="clr"></div>
	 	  <div class="menu_nav">
		 	  <ul class="dropdown">
           <li><a class="a" href="it_news.html" style="height: 10px;"><div class="indent"><button class="minimal-indent"><span>News</span></button></div></a></li>
          <li><a class="a" href="index.html">About Us</a></li>
          <li><a class="a" href="our_portfolio.html"><span>Portfolio</span></a>
		     <ul class="sub_menu">
		     <li><a href="portfolio.html" class="z">Web-design</a></li>
			 <li><a href="portfolio-video.html"  class="z">Installation of Video Recording and Alerts System</a></li>
			 </ul>
		</li>
         <li class="active"><a class="a" href="our_service.html"><span>Our service</span></a>
		      <ul class="sub_menu">
		    <li><a href="outsourcing.html" class="z" style="color: #ffffff "><font style="font-size: 20px;">Outsourcing</font></a></li>
			<li><a href="vstanovlennya.html" class="z">Installation of CCTV </a>
			     <ul>
			     <li><a href="vstanovlennya_vlasnoy.html" class="z">Installation and Servicing of Own Video Recording and Alerts System </a>
				 	     <ul>
        			     <li><a href="ohoronni_kompanii.html" class="z">For Security Companies</a></li>
					     <li><a href="ofic.html" class="z">For Offices and Logistic Centres</a></li>
					     <li><a href="private.html" class="z">For Individuals</a></li>
				         </ul>
				 </li>
			     </ul>
			  </li>
			<li><a href="web_design.html" class="z">Web design</a></li>
			<li><a href="analiz.html" class="z">Websites Security Analyzing </a></li>
			<li><a href="el_arhiv.html" class="z">Digital Archive of Documents</a></li>
			<li><a href="SEO.html" class="z">SEO- service</a></li>
			   </ul>
		</li>
		  <li><a class="a" href="patent.html"><span>Patents</span></a></li>
		  <li id="xc"><a class="a" href="our_partners.html"><span>Partners and Clients</span></a></li>
          <li><a class="a" href="contact.html"><span>Contact Us</span></a></li>
        </ul>
	  </div>
  <div class="cv"><img src="images/line_m.png" border=0 alt=" "></div>
    </div>
  </div>
  
<div class="grafic_w" >
    <img border=1 src="images/SEO.png" id='SlideShow' width='960' height='333' ></a>
</div>    
  
<div class="content" style="padding-top: 35px;">

<div id="tx" >
<center><h1 class="f">KLEYNOD SOFT COMPANY IS OFFERING INTEGRATED WEB PROMOTION SERVICE</h1></center>
		
<p>Work on search engine promotion includes <font style="text-decoration: underline;">internal and external site optimization </font> activities aimed at improving the position of each of the promoted searches.</p>


<p><h3>WE OFFER:</h3></p>
<p><h3 class="d">1. SEO-optimization and web site promotion</h3></p>
<p><h3>1.1. Complete SEO-site audit:</h3></p>
<ul id="spis5">
<li>Verification of the validity of the code, fixing bugs;</li>
<li>Introduction of meta tags (title, keywords; goods for photos in the catalogue - alt, title);</li>
<li>Work with headings (H1, H2);</li>
<li>Menu: structure formation breadcrumbs;</li>
<li>The availability and correctness of the file robots.txt, overall assessment of pages in terms of their suitability for indexing by search engines;</li>
<li>Analysis of a site's visibility in search engines;</li>
<li>Analysis of the link structure of a website, validating links;</li>
<li>Analysis of traffic sources;</li>
<li>Analysing of the position in the search results of sites with the similar subjects.</li>
</ul>

<p><h3>1.2. SEO-promotion site:</h3></p>
<ul id="spis5">
<li>Analysis of key phrases;</li>
<li>Formation of an unfolded map of the site;</li>
<li>Formation of promotion strategy (low-frequency / high-demand);</li>
<li>Creating a semantic core for a site, the allocation of an array of keywords, which will be the promotion;</li>
<li>Filling the site with unique content in accordance with a set of keywords if enabled (see Optimizing your site structure, work with content);</li>
<li>Registration site in directories, posting (purchase) of references to thematic resources, forums and blogs;</li>
<li>Add the site to DMOZ, DMOZ, etc.</li>
</ul>


<p><h3 class="d">2. Optimizing your site structure, work with content</h3></p>
<p><h3>2.1. Analysis of the structure of the site:</h3></p>
<ul id="spis5">
<li>Assessment of the overall logic structure of the site;</li>
<li>Optimization of the structure of the catalogue;</li>
<li>Assessment of the completeness of information on potential "landing" page (home page, a page describing popular products catalogue. Page with a description of the application, etc.)</li>
</ul>

<p><h3>2.2. Analysis of usability:</h3></p>
<ul id="spis5">
<li>Analysis of convenience and completeness of the navigation system;</li>
<li>Overall assessment of convenience interfaces;</li>
<li>Quality control display the site in different browsers;</li>
<li>Testing the usability and correctness of the registration form, ordering, payment, feedback;</li>
<li>The existence of mechanisms to find information on the site, the correctness of their work.</li>
</ul>

<p><h3>2.3. Working with content:</h3></p>
<ul id="spis5">
<li>Analysis of the main page of the site in terms of saturation necessary content, the logic of his filing, readability, etc.;</li>
<li>Analysis of the completeness of the user information (Section "About us", "Delivery", "Contacts");</li>
<li>Analysis of the completeness of the information on the page (product description, abstract, quotations, design titles, keyword saturation, the introduction of keywords in headlines, quotes, links);</li>
<li>Analysis of the overall readability of the text;</li>
<li>Development of a single scheme of visual text formatting (headings, paragraphs, quotes, links, etc.);</li>
<li>Internal relinking pages (links to similar products on the catalogue pages, links to the promotional materials);</li>
<li>Partitioning with unique content, content writing, in accordance with the semantic nucleus formed in the process of SEO-site analysis (options sections: information about the authors, selected chapters from popular books, reference, etc.).</li>
</ul>

<p><h3 class="d">3. Web site promotion</h3></p>
<p><h3>3.1. The standard means of promotion:</h3></p>
<ul id="spis5">
<li>Contextual advertising: Google Adsense, Yandex. Creation of advertising campaigns in accordance with the generated set of key phrases;</li>
<li>Ads on topical resources: placing banners and other types of advertising media on topical resources (legal, educational topics, etc.);</li>
<li>Publication of articles, press releases, announcements on the thematic resources, forums and blogs.</li>
</ul>

<p><h3>3.2. Promotion in social networks</h3></p>
<ul id="spis5">
<li>Ensure that the mere presence in social networks - that is, create profiles on the most popular of them and update them on information from a predefined intervals - to place announcements of publications publish quotes, useful facts, and so on;</li>
<li>Create and implement a strategy of active promotion via social networks.</li>
</ul>


</div>


<div class="clr"></div>


<div class="footer" style="background-image: url('images/footer.png')">
      (С) Kleynod Soft Ltd., 2013
<!--LiveInternet counter--><div style="float:right;margin-right: -150px;"><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.11;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21702094 = new Ya.Metrika({id:21702094,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21702094" style="position:absolute; left:-9999px;" alt="" ></div></noscript>   </div>
<!-- /Yandex.Metrika counter -->
</div>
</div>

</div>


</body>
</html>