<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<title>KleynodSoft</title>
<link href="css/style.css" rel="stylesheet" type="text/css" >
 
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" >
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-georgia.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>

<link rel="stylesheet" type="text/css" href="highslide/highslide.css" >
<script type="text/javascript" src="highslide/highslide.js"></script>
<script type="text/javascript">
hs.graphicsDir = 'highslide/graphics/';
hs.wrapperClassName = 'wide-border';
</script>
<!-- меню -->
<link rel="stylesheet" href="css/style2.css" type="text/css" media="screen, projection">
	<!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
    <![endif]-->
			
	<script type="text/javascript" src="js/jquery-1.3.1.min.js"></script>	
	<script type="text/javascript" language="javascript" src="js/jquery.dropdownPlain.js"></script>
<!-- меню -->
</head>
<body>
       
<!-- change this div to a nav tag if you're not planning on supporting IE users -->
	<div class="menu">
		<ul class="primary-menu">
			<li class="facebook"><a class="social-item" href="#null" onClick="openWin2()" >f</a><span class="social-span">Become a fan on Facebook</span></li>
			     <script><!-- hide
                 function openWin2() {
                 myWin=open("http://www.facebook.com/sharer.php?u=http://www.kleynodsoft.com/en/videospost.html","displayWindow","width=520,height=300,left=350,top=170,status=no,toolbar=no,menubar=no");
                 }
                 // -->
                 </script>
			<li class="twitter"><a class="social-item" href="https://twitter.com/share" class="twitter-share-button" data-lang="ru" target=_blank>t</a><span class="social-span">Follow us on Twitter</span></li>
			     <script>
                 !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			<li class="flickr"><a class="social-item" href="http://plus.google.com/share?url=http://www.kleynodsoft.com/en/videospost.html" target=_blank>g+</a><span class="social-span">Add us on Google+</span></li>
			<li class="rss"><a class="social-item" href="http://vkontakte.ru/share.php?url=http://www.kleynodsoft.com/en/videospost.html" target="_blank">vk</a><span class="social-span">Follow us on Vk</span></li>
			<li class="mail"><a class="social-item" target="_blank"
 class="mrc__plugin_uber_like_button" 
href="http://connect.mail.ru/share" data-mrc-config="{'type' : 
'button', 'caption-mm' : '1', 'caption-ok' : '1', 'counter' : 'true',
 'text' : 'true', 'width' : '100%'}"><img src="images/mail.png" border='0' alt='' style="margin-top: -5px;"></a><span class="social-span">Follow us on Mail.ru</span><script src="http://cdn.connect.mail.ru/js/loader.js" 
type="text/javascript" charset="UTF-8"></script></li>
		</ul>
	</div>
	<!-- change this div to a nav tag if you're not planning on supporting IE users -->
<div class="main">
<div class="logo">
        <a href="http://kleynodsoft.com/en/index.html"><img src="images/logo_en.png"></a>

</div>
		<div class="flag">
	  <a href="http://www.kleynodsoft.com/videospost.html"><img src="images/ukrainian.png" border=0 alt=" "></a>
	  <p><a href="http://www.kleynodsoft.com/ru/videospost.html"><img src="images/russian.png" border=0 alt=" "></a></p>
	  <p><a href="videospost.html"><img src="images/english.png" border=0 alt=" "></a></p>
	  </div>
	  
  <div class="header">
    <div class="header_resize">

	  <div class="clr"></div>
	  <div class="menu_nav">
		 	  <ul class="dropdown">
           <li><a class="a" href="it_news.html" style="height: 10px;"><div class="indent"><button class="minimal-indent"><span>News</span></button></div></a></li>
          <li><a class="a" href="index.html">About Us</a></li>
          <li><a class="a" href="our_portfolio.html"><span>Portfolio</span></a>
		     <ul class="sub_menu">
		     <li><a href="portfolio.html" class="z">Web-design</a></li>
			 <li><a href="portfolio-video.html"  class="z">Installation of Video Recording and Alerts System</a></li>
			 </ul>
		</li>
         <li class="active"><a class="a" href="our_service.html"><span>Our service</span></a>
		      <ul class="sub_menu">
		    <li><a href="outsourcing.html" class="z" style="color: #ffffff "><font style="font-size: 20px;">Outsourcing</font></a></li>
			<li><a href="vstanovlennya.html" class="z">Installation of CCTV </a>
			     <ul>
			     <li><a href="vstanovlennya_vlasnoy.html" class="z">Installation and Servicing of Own Video Recording and Alerts System </a>
				 	     <ul>
        			     <li><a href="ohoronni_kompanii.html" class="z">For Security Companies</a></li>
					     <li><a href="ofic.html" class="z">For Offices and Logistic Centres</a></li>
					     <li><a href="private.html" class="z">For Individuals</a></li>
				         </ul>
				 </li>
			     </ul>
			  </li>
			<li><a href="web_design.html" class="z">Web design</a></li>
			<li><a href="analiz.html" class="z">Websites Security Analyzing </a></li>
			<li><a href="el_arhiv.html" class="z">Digital Archive of Documents</a></li>
			<li><a href="SEO.html" class="z">SEO- service</a></li>
			   </ul>
		</li>
		  <li><a class="a" href="patent.html"><span>Patents</span></a></li>
		  <li  id="xc"><a class="a" href="our_partners.html"><span>Partners and Clients</span></a></li>
          <li><a class="a" href="contact.html"><span>Contact Us</span></a></li>
        </ul>
	  </div>
    <div class="clr"></div>
    </div>
  </div>
  
<div class="grafic2">
     <img src="images/line2.png" border=0 alt=" ">   
</div>  
  
<div class="content">
<div class="put"><a href="vstanovlennya.html">Installation of CCTV</a> /  Video Supervision...</div>

<div class="vmenu">
     <ul class="vertical-list">
    <li><a href='sho_viblati.html' class='button'>What to choose ?</a></li>
    <li><a href='videospost.html' class='button'>Video Supervision</a></li>
</ul>
</div>


<div id="tx">
    <div id="tx_v">
    <center><h1>Video Supervision</h1></center>
<p> Video supervision is one of the main components of the complex security system. For today it is considered as the most effective method of protecting private property from unlawful acts. This is due to the fact that the video is not only informs about the fact of the penetration of the protected area, but also enables security officers to obtain the most complete information about the intruders.</p>
	
<p><h3 style="display: inline;">The video surveillance system</h3> – is a system that consists of one or more cameras, video processing devices, video display devices (monitors), and record and store video. </p>

<center><img src="images/video1.jpg" border='0' vspace='20' ></center>
<p>Cameras can be internal or external installation. As the monitor can be used a computer monitor in a digital system and conventional TV. Cameras have different viewing angles and selected according to the observation tasks. The most appropriate is to build a modern video surveillance systems based on computer video capture card or DVR. None of complete security system is complete without at least a few cameras.</p>

<p>
<img src="images/video2.jpg" border='0' vspace='10' hspace='10'  width='300px' style="float:left;">
Recently, the construction of security, more and more emphasis is placed on this system, as well as using only one video may solve most of the problems of the object. Developing a tremendous pace, they become cheaper and therefore more accessible to low-cost solutions. New developments in detection systems prove likelihood of identifying an object to 100%. So, integrating this system with access control systems can achieve the highest level of security object as reducing human mistakes.</p>
<p style="margin-bottom: 90px;">Video surveillance systems are guaranteed to give you complete control of the object, both indoor and outdoor in the surrounding area.</p>

<p><h2 id="ss">Digital Video Recorder</h2></p>

<center><img src="images/video3.png" border='0' width='500' vspace='20'></center>
<p>Digital Video Recorder (DVR) - a digital device that performs recording, storage and playback video of the outdoor or (and) indoor cameras of the security system. Video is recorded in the DVR to hard drive memory. Capacity and number of hard drives memory DVRs are crucial for many surveillance systems.</p>
<p>Usually the advanced DVR use 4, 8 or 16 video inputs (number of cameras to connect) and therefore called four, eight and sixteen-channel. Also there are audio channels on the video recorder. The cable from the camcorder connects to the video input of the registrar (DVR), and the registrar is connected to the monitor to view recorded video.</p>
<p>Video recorders are able to adjust to different modes of operation, the main ones is the mode of video and snapshot. In addition, it is possible to combine these modes according to the tasks and locations that use DVRs.</p>


<p><h2 id="ss">Installation and Assembling</h2></p>

<p>Video consists of cameras, recording devices, and supplies for cameras, which is important and what buyers often overlook.</p>
<img src="images/video4.jpg" border='0' vspace='10' hspace='20' width='300px' style="float:left; clear:right;">
<p>You also need to remember that the video includes an element as the cables that connect the camera and recorder.</p>
<p style="display:inline;">When designing a video surveillance system should consider the following <h3 style="display:inline;">factors</h3>:</br>

<ul id="spis2" style="margin-bottom: 55px;">
<li>the number and characteristics of the route of the lines of communication;</li>
<li>the length of transmission lines;</li>
<li>electromagnetic environment facility (level of industrial noise, the frequency of storms);</li>
<li>climatic conditions;</li>
<li>organizing power peripheral equipment;</li>
<li>the project budget.</li>
</ul>


<p style="display:inline;">When building video surveillance systems at the <h3 style="display:inline;">design stage</h3> should take into account not only the system structure and the relationship of its elements, but also the possibility of further maintenance, rehabilitation and upgrading and building transmission lines and systems in general.</p>
<p><h3 style="display:inline;">CCTV Installation</h3> requires a special individual approach to each case, so you should consider a number of features in each facility.</p>
</div>
</div>


<div class="clr"></div>


<div class="footer" style="background-image: url('images/footer.png')">
      (С) Kleynod Soft Ltd., 2013
<!--LiveInternet counter--><div style="float:right;margin-right: -150px;"><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.11;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21702094 = new Ya.Metrika({id:21702094,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21702094" style="position:absolute; left:-9999px;" alt="" ></div></noscript>   </div>
<!-- /Yandex.Metrika counter -->
</div>
</div>

</div>


</body>
</html>