<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<meta http-equiv="content-language" content="ua">
<meta name="geo.placename" content="Украина, Львов" > 
<meta name="description" content="Компанія KleynodSoft пропонує провести аналіз захищеності Вашего web-сайту, з подальшим повним звітом. ">
<title>Аналіз сайту | захист інформації - Kleynodsoft</title>
<link href="css/style.css" rel="stylesheet" type="text/css" >
 
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" >
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-georgia.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>

<link rel="stylesheet" type="text/css" href="highslide/highslide.css" >
<script type="text/javascript" src="highslide/highslide.js"></script>
<script type="text/javascript">
hs.graphicsDir = 'highslide/graphics/';
hs.wrapperClassName = 'wide-border';
</script>
<!-- меню -->
<link rel="stylesheet" href="css/style2.css" type="text/css" media="screen, projection">
	<!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
    <![endif]-->
			
	<script type="text/javascript" src="js/jquery-1.3.1.min.js"></script>	
	<script type="text/javascript" language="javascript" src="js/jquery.dropdownPlain.js"></script>
<!-- меню -->
</head>
<body>
<!-- change this div to a nav tag if you're not planning on supporting IE users -->
	<div class="menu">
		<ul class="primary-menu">
			<li class="facebook"><a class="social-item" href="#null" onClick="openWin2()" >f</a><span class="social-span">Become a fan on Facebook</span></li>
			     <script><!-- hide
                 function openWin2() {
                 myWin=open("http://www.facebook.com/sharer.php?u=http://www.kleynodsoft.com/en/analiz.html","displayWindow","width=520,height=300,left=350,top=170,status=no,toolbar=no,menubar=no");
                 }
                 // -->
                 </script>
			<li class="twitter"><a class="social-item" href="https://twitter.com/share" class="twitter-share-button" data-lang="ru" target=_blank>t</a><span class="social-span">Follow us on Twitter</span></li>
			     <script>
                 !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			<li class="flickr"><a class="social-item" href="http://plus.google.com/share?url=http://www.kleynodsoft.com/en/analiz.html" target=_blank>g+</a><span class="social-span">Add us on Google+</span></li>
			<li class="rss"><a class="social-item" href="http://vkontakte.ru/share.php?url=http://www.kleynodsoft.com/en/analiz.html" target="_blank">vk</a><span class="social-span">Follow us on Vk</span></li>
			<li class="mail"><a class="social-item" target="_blank"
 class="mrc__plugin_uber_like_button" 
href="http://connect.mail.ru/share" data-mrc-config="{'type' : 
'button', 'caption-mm' : '1', 'caption-ok' : '1', 'counter' : 'true',
 'text' : 'true', 'width' : '100%'}"><img src="images/mail.png" border='0' alt='' style="margin-top: -5px;"></a><span class="social-span">Follow us on Mail.ru</span><script src="http://cdn.connect.mail.ru/js/loader.js" 
type="text/javascript" charset="UTF-8"></script></li>
		</ul>
	</div>
	<!-- change this div to a nav tag if you're not planning on supporting IE users -->
	
       
<div class="main">
<div class="logo">
        <a href="http://kleynodsoft.com/"><img src="images/logo.png" alt=" "></a>

</div>
	  <div class="flag">
	  <a href="analiz.html"><img src="images/ukrainian.png" border=0 alt=" "></a>
	  <p><a href="ru/analiz.html"><img src="images/russian.png" border=0 alt=" "></a></p>
	 <p> <a href="en/analiz.html"><img src="images/english.png" border=0 alt=" "></a></p>
	  </div>
	  
  <div class="header">
    <div class="header_resize">

	  <div class="clr"></div>
	  <div class="menu_nav">
		 	  <ul class="dropdown">
          <li><a class="a" href="it_news.html" style="height: 10px;"><span class="indent"><button class="minimal-indent"><span>News</span></button></span></a></li>
          <li><a class="a" href="http://kleynodsoft.com/">Головна</a></li>
          <li><a class="a" href="our_portfolio.html"><span>Портфоліо</span></a>
		     <ul class="sub_menu">
		     <li><a href="portfolio.html" class="z">Веб-дизайн </a></li>
			 <li><a href="portfolio-video.html"  class="z">Встановлення систем відеореєстрації та оповіщення</a></li>
			<li><a href="portfolio-prezentation.html" class="z">Створення презентацій</a></li>
			 </ul>
		</li>
         <li class="active"><a class="a" href="our_service.html"><span>Наш сервіс</span></a>
		      <ul class="sub_menu">
	<li><a href="outsourcing.html" class="z" style="color: #ffffff "><font style="font-size: 20px;">Аутсорсинг</font></a></li>
			<li><a href="vstanovlennya.html" class="z">Встановлення систем відеоспостереження</a>
			     <ul>
			     <li><a href="vstanovlennya_vlasnoy.html" class="z">Встановлення і обслуговування власної системи відеореєстрації та оповіщення </a>
				 	     <ul>
        			     <li><a href="ohoronni_kompanii.html" class="z">Для охоронних компаній</a></li>
					     <li><a href="ofic.html" class="z">Для офісів та логістичних центрів</a></li>
					     <li><a href="private.html" class="z">Для приватних осіб</a></li>
				         </ul>
				 </li>
				 <li><a href="rozyerminnuvannya.html" class="z">Розтермінування виплат за встановлення обладнання і системи</a></li>
			     <li><a href="orenda.html" class="z">Оренда обладнання відеоспостереження</a></li>
			     </ul>
			  </li>
			<li><a href="web_design.html" class="z">Web - дизайн</a></li>
			<li><a href="analiz.html" class="z">Аналіз захищеності веб-сайтів</a></li>
			<li><a href="el_arhiv.html" class="z">Створення електронного архіву документів</a></li>
			<li><a href="SEO.html" class="z">SEO- послуги</a></li>
			<li><a href="prezentation.html" class="z">Створення презентацій</a></li>
			   </ul>
		</li>
		  <li><a class="a" href="patent.html"><span>Патенти</span></a></li>
		  <li id="xc"><a class="a" href="our_partners.html"><span>Партнери та Клієнти</span></a></li>
          <li><a class="a" href="contact.html"><span>Контакти</span></a></li>
        </ul>
	  </div>
    <div class="clr"></div>
    </div>
  </div>
  
<div class="grafic2">
     <img src="images/line2.png" border=0 alt=" ">   
</div>  
  
<div class="content">
<div class="put">Наш сервіс /  Аналіз захищеності веб-сайтів...</div>
<div id="tx">
<center><h1 class="f">Аналіз захищеності web-сайтів <p>від несанкціонованого доступу (без перевірки  по ПЕМВ*) та виправлення недоліків</p></h1></center>

<img src="images/zah.png" border=0 style="float: right; clear: left;" vspace=10 hspace=10 width='400'>
<h3 style="color: #cbd66e;">Зовнішній аналіз захищеності :</h3>
<ul id="spis5" style="margin-bottom: 45px;">
<li>Аналіз web-сайту;</li>
<li>Аналіз бази даних, що мають доступ з Інтернету;</li>
<li>Аналіз можливості отримання несанкціонованого доступу (НСД) до закритих ресурсів локальної обчислювальної мережі (ЛОМ).</li>
</ul>

<h3 style="color: #cbd66e;">Внутрішній аналіз захищеності :</h3>
<ul id="spis5" style="margin-bottom: 45px;">
<li>Аналіз / створення політики безпеки (документ з визначеними правами користувачів – хто яким доступом і в який час може володіти) на предмет її коректності;</li>
<li>Порівняння поточного стану ЛОМ з політикою безпеки;</li>
<li>Аналіз можливості отримання НСД до закритих ресурсів ЛОМ.</li>
</ul>

<h3 style="color: #cbd66e;">Звіт складається з наступних розділів :</h3>
<ul id="spis5" style="margin-bottom: 45px;">
<li>Анотація;</li>
<li>Мета дослідження;</li>
<li>Вихідні дані;</li>
<li>Резюме (узагальнений звіт  для керівництва) ;</li>
<li>Технічний звіт;</li>
<li>Рекомендації по усуненню вразливості;</li>
<li>Загальні рекомендації;</li>
<li>Опис дослідження;</li>
<li>Терміни і визначення;</li>
<li>Додатки.</li>
</ul>

<h3 style="color: #cbd66e;">Пропонуємо наступний склад рекомендацій :</h3>
<ul id="spis5" style="margin-bottom: 45px;">
<li>по налаштуванню існуючих засобів (файерволів, систем керування базами даних, керуючих скриптів, access-листів и т.п.);</li>
<li>із залученням додаткових засобів, виходячи з доступних можливостей Замовника (патчів, нових версій, застосування електронних цифрових підписів, , захищених з’єднань (SSL, TLS), більш стійких засобів захисту інформації (ЗЗІ), Платформ і т.п.);</li>
<li>підготовка і корекція політики безпеки.</li>
</ul>

<h2 style="font-style: italic;">Вартість послуг :</h2>

<p style="display:inline;">I. <h3 style="color: #cbd66e;display:inline;">Аналіз сайту :</h3></p>
<ul id="spis5" style="margin-bottom: 45px;">
<li>початковий аналіз web-сайту з видачею резюме про факт наявності уразливостей  - <font style="color: #cbd66e;">безкоштовно;</font></li>
<li>надання звіту – <font style="color: #cbd66e;">ціна договірна;</font></li>
<li>вартість основного і майбутніх аналізів сайту залежить від його складності, за результатами кожного аналізу надається звіт – <font style="color: #cbd66e;">ціна договірна;</font></li>
<li>абонентське обслуговування з наданням звіту (залежить від періодичності і складності) - <font style="color: #cbd66e;">ціна договірна;</font></li>
<li>усунення виявлених недоліків - <font style="color: #cbd66e;">ціна договірна;</font></li>
<li>детальний опис процесу визначення вразливості (додатково, за бажанням Замовника) – <font style="color: #cbd66e;">ціна договірна;</font></li>
</ul>

<p style="display:inline;">II. <h3 style="color: #cbd66e;display:inline;">Аналіз захищеності мережі:</h3></p>
<ul id="spis5">
<li>повний зовнішній аналіз захищеності – <font style="color: #cbd66e;">ціна договірна;</font></li>
<li>повний внутрішній аналіз захищеності – <font style="color: #cbd66e;">ціна договірна. </font></li>
</ul>

<p><font style="font-size: 14px;">*Одним з можливих каналів витоку інформації є випромінювання елементів комп'ютера. Приймаючи та декодуючи ці випромінювання, можна отримати відомості про всю інформацію, що обробляється на комп'ютері.</font><p>

<p><font style="font-size: 14px;">Цей канал витоку називається ПЕМВ – Побічні Електромагнітні Випромінювання і Наводки, в Росії застосовується термін ПЭМИН - Побочные Электромагнитные Излучения и Наводки, в Канаді та Європі - «compromising emanation», компроментуюче випромінювання, в Америці - «TEMPEST»,  Transient Electromagnetic Pulse Emanation Standard.</font> </p>
</div>


<div class="clr"></div>


<div class="footer" style="background-image: url('images/footer.png')">
     (С) 2013, ТОВ "Клейнод Софт", всі права захищені.
<!--LiveInternet counter--><div style="float:right;margin-right: -150px;"><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.11;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21702094 = new Ya.Metrika({id:21702094,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21702094" style="position:absolute; left:-9999px;" alt="" ></div></noscript>   </div>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-42705662-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</div>
</div>

</div>


</body>

</html>