<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<meta http-equiv="content-language" content="ua">
<meta name="geo.placename" content="Украина, Львов" > 
<meta name="description" content="Компанія “Клейнод Софт” (KleynodSoft) пропонує комплекс послуг щодо створення електронного архіву документів, як з метою його збереження так і з можливістю подальшої роботи з документацією в електронному вигляді ">
<title>Електронний документообіг | створення електронного архіву - Kleynodsoft</title>
<link href="css/style.css" rel="stylesheet" type="text/css" >
 
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" >
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-georgia.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>

<link rel="stylesheet" type="text/css" href="highslide/highslide.css" >
<script type="text/javascript" src="highslide/highslide.js"></script>
<script type="text/javascript">
hs.graphicsDir = 'highslide/graphics/';
hs.wrapperClassName = 'wide-border';
</script>
<!-- меню -->
<link rel="stylesheet" href="css/style2.css" type="text/css" media="screen, projection">
	<!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
    <![endif]-->
			
	<script type="text/javascript" src="js/jquery-1.3.1.min.js"></script>	
	<script type="text/javascript" language="javascript" src="js/jquery.dropdownPlain.js"></script>
<!-- меню -->
</head>
<body>
<!-- change this div to a nav tag if you're not planning on supporting IE users -->
	<div class="menu">
		<ul class="primary-menu">
			<li class="facebook"><a class="social-item" href="#null" onClick="openWin2()" >f</a><span class="social-span">Become a fan on Facebook</span></li>
			     <script><!-- hide
                 function openWin2() {
                 myWin=open("http://www.facebook.com/sharer.php?u=http://www.kleynodsoft.com/en/el_arhiv.html","displayWindow","width=520,height=300,left=350,top=170,status=no,toolbar=no,menubar=no");
                 }
                 // -->
                 </script>
			<li class="twitter"><a class="social-item" href="https://twitter.com/share" class="twitter-share-button" data-lang="ru" target=_blank>t</a><span class="social-span">Follow us on Twitter</span></li>
			     <script>
                 !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			<li class="flickr"><a class="social-item" href="http://plus.google.com/share?url=http://www.kleynodsoft.com/en/el_arhiv.html" target=_blank>g+</a><span class="social-span">Add us on Google+</span></li>
			<li class="rss"><a class="social-item" href="http://vkontakte.ru/share.php?url=http://www.kleynodsoft.com/en/el_arhiv.html" target="_blank">vk</a><span class="social-span">Follow us on Vk</span></li>
			<li class="mail"><a class="social-item" target="_blank"
 class="mrc__plugin_uber_like_button" 
href="http://connect.mail.ru/share" data-mrc-config="{'type' : 
'button', 'caption-mm' : '1', 'caption-ok' : '1', 'counter' : 'true',
 'text' : 'true', 'width' : '100%'}"><img src="images/mail.png" border='0' alt='' style="margin-top: -5px;"></a><span class="social-span">Follow us on Mail.ru</span><script src="http://cdn.connect.mail.ru/js/loader.js" 
type="text/javascript" charset="UTF-8"></script></li>
		</ul>
	</div>
	<!-- change this div to a nav tag if you're not planning on supporting IE users -->
	
	
<div class="main">
<div class="logo">
        <a href="http://kleynodsoft.com/"><img src="images/logo.png" alt=" "></a>

</div>
		<div class="flag">
	  <a href="el_arhiv.html"><img src="images/ukrainian.png" border=0 alt=" "></a>
	 <p> <a href="ru/el_arhiv.html"><img src="images/russian.png" border=0 alt=" "></a></p>
	  <p><a href="en/el_arhiv.html"><img src="images/english.png" border=0 alt=" "></a></p>
	  </div>
  <div class="header">
    <div class="header_resize">
        
	  <div class="clr"></div>
	  <div class="menu_nav">
		 	  <ul class="dropdown">
          <li><a class="a" href="it_news.html" style="height: 10px;"><span class="indent"><button class="minimal-indent"><span>News</span></button></span></a></li>
          <li><a class="a" href="http://kleynodsoft.com/">Головна</a></li>
          <li><a class="a" href="our_portfolio.html"><span>Портфоліо</span></a>
		     <ul class="sub_menu">
		     <li><a href="portfolio.html" class="z">Веб-дизайн </a></li>
			 <li><a href="portfolio-video.html"  class="z">Встановлення систем відеореєстрації та оповіщення</a></li>
			<li><a href="portfolio-prezentation.html" class="z">Створення презентацій</a></li>
			 </ul>
		</li>
         <li class="active"><a class="a" href="our_service.html"><span>Наш сервіс</span></a>
		      <ul class="sub_menu">
		    <li><a href="outsourcing.html" class="z" style="color: #ffffff "><font style="font-size: 20px;">Аутсорсинг</font></a></li>
			<li><a href="vstanovlennya.html" class="z">Встановлення систем відеоспостереження</a>
			     <ul>
			     <li><a href="vstanovlennya_vlasnoy.html" class="z">Встановлення і обслуговування власної системи відеореєстрації та оповіщення </a>
				 	     <ul>
        			     <li><a href="ohoronni_kompanii.html" class="z">Для охоронних компаній</a></li>
					     <li><a href="ofic.html" class="z">Для офісів та логістичних центрів</a></li>
					     <li><a href="private.html" class="z">Для приватних осіб</a></li>
				         </ul>
				 </li>
				 <li><a href="rozyerminnuvannya.html" class="z">Розтермінування виплат за встановлення обладнання і системи</a></li>
			     <li><a href="orenda.html" class="z">Оренда обладнання відеоспостереження</a></li>
			     </ul>
			  </li>
			<li><a href="web_design.html" class="z">Web - дизайн</a></li>
			<li><a href="analiz.html" class="z">Аналіз захищеності веб-сайтів</a></li>
			<li><a href="el_arhiv.html" class="z">Створення електронного архіву документів</a></li>
			<li><a href="SEO.html" class="z">SEO- послуги</a></li>
			<li><a href="prezentation.html" class="z">Створення презентацій</a></li>
			   </ul>
		</li>
		  <li><a class="a" href="patent.html"><span>Патенти</span></a></li>
		  <li id="xc"><a class="a" href="our_partners.html"><span>Партнери та Клієнти</span></a></li>
          <li><a class="a" href="contact.html"><span>Контакти</span></a></li>
        </ul>
	  </div>
  <div class="cv"><img src="images/line_m.png" border=0 alt=" "></div>
    </div>
  </div>
  
<div class="grafic_w_z" >
	
   <img border=1 src="images/el_arhiv.png" id='SlideShow' width='960' height='360'></a>
</div>   
  
<div class="content">

<div id="tx" style="padding-top: 45px;">
		<h1 style="display:none;">Електронний архів</h1>

<p style="display: inline; ">Компанія “Клейнод Софт” пропонує комплекс послуг щодо створення <h3 style="color: #c1f800; display: inline;">електронного архіву документів</h3>, як з метою його збереження так і з можливістю подальшої роботи з документацією в електронному вигляді. </p>

<p><h3 style="color: #c1f800;"> Електронний архів -  спрощення та автоматизація процесів документообігу.</h3></p>

<p>Ми пропонуємо повний комплекс послуг щодо створення електронних архівів, каталогів, бібліотек з централізованими або локальними правами доступу, з розмежуванням прав щодо наповнення, обробки і користування інформацією.</p>

<p><h3  style="display: inline; ">Процес створення електронного архіву</h3> передбачає реалізацію всіх проектних етапів:</p>
<ul id="spis5">
<li>складання технічного завдання;</li>
<li>розроблення алгоритму і прав доступу до інформації;</li>
<li>виконання робіт по скануванню та індексації матеріалів;</li>
<li>розроблення програмного забезпечення;</li>
<li>розроблення інструкції для користувачів.</li>
</ul>

<font style="font-style: italic;"><h3><br>Електронний архів – це...</h3></br>
<ul id="spis4">
<li>Збільшення продуктивності при зменшенні витрат;</li>
<li>Збереження оригіналів документів;</li>
<li>Звільнення фізичного місця для збереження документів із зменшенням витрат на копіювання і доставку документів у паперовому вигляді;</li>
<li>Швидке знаходження необхідної інформації;</li>
<li>Сегментація документів та широкі можливості їх фільтрації при подальшій роботі;</li>
<li>Розмежування прав доступу до використання та обробки документації;</li>
<li>Здійснення всіх операцій з документами централізовано на одному ресурсі, організація доступу до єдиної бази документів для організацій, що мають віддалені філіали;</li>
<li>Додаткове збереження документів на віддаленому ресурсі (наприклад на хмарному хостингу), що гарантує їх захист від знищення, а також відновлення на основному ресурсі при потребі;</li>
<li>Можливість постійного поповнення новими та обробку існуючих документів;</li>
<li>Автоматичний моніторинг термінів збереження;</li>
<li>Використання системи маршрутизації документів;</li>
<li>Можливість використання електронного цифрового підпису;</li>
<li>Організація статистичних даних щодо всіх процесів роботи з архівом;</li>
<li>Відслідковування “життєвого циклу” та версійності кожного документу;</li>
</ul>
</font>
<img border=0 src="images/el_arhiv2.png" style="float: left; clear: right;">
<p><h3 style="color: #c1f800; display: inline;">Система електронного документообігу</h3> - єдина платформа ділового спілкування, де зберігається вся інформація, де будь-який уповноважений співробітник організації може легко і швидко отримати доступ до потрібноії інформації. </p>

<p style="margin-top: 115px;">Використання системи електронного документообігу підвищить якість та оперативність роботи з документами, а також дозволить знизити операційні витрати, пов'язані з організацією комунікації всередині компанії.</p>
</div>


<div class="clr"></div>


<div class="footer" style="background-image: url('images/footer.png')">
     (С) 2013, ТОВ "Клейнод Софт", всі права захищені.
<!--LiveInternet counter--><div style="float:right;margin-right: -150px;"><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.11;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21702094 = new Ya.Metrika({id:21702094,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21702094" style="position:absolute; left:-9999px;" alt="" ></div></noscript>   </div>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-42705662-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</div>
</div>

</div>


</body>
</html>