<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<meta http-equiv="content-language" content="ua">
<meta name="geo.placename" content="Украина, Львов" > 
<meta name="description" content="Компанія KleynodSoft (КлейнодСофт) спіціалізується на розробці, веб дизайні і розкрутці сайтів, розробці ПЗ для систем відоспостереження. Встановленні систем відонагляду.">
<title>Веб дизайн | розробка і розкрутка сайту | аутосорсинг - Kleynodsoft</title>

<link href="css/size_height2.css" rel="stylesheet" type="text/css" media="screen and (min-width:500px) and (max-width: 600px)" >
<link href="css/style.css" rel="stylesheet" type="text/css" >
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" >
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-georgia.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>
<script type="text/javascript" src="http://vk.com/js/api/share.js?86" charset="windows-1251"></script>
<!-- меню -->
<link rel="stylesheet" href="css/style2.css" type="text/css" media="screen, projection">
	<!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
    <![endif]-->
			
	<script type="text/javascript" src="js/jquery-1.3.1.min.js"></script>	
	<script type="text/javascript" language="javascript" src="js/jquery.dropdownPlain.js"></script>
<!-- меню -->
<link href="http://stg.odnoklassniki.ru/share/odkl_share.css" rel="stylesheet">
 <script src="http://stg.odnoklassniki.ru/share/odkl_share.js" type="text/javascript" ></script>
</head>
<body>
<!-- change this div to a nav tag if you're not planning on supporting IE users -->
	<div class="menu">
		<ul class="primary-menu">
			<li class="facebook"><a class="social-item" href="#null" onClick="openWin2()" >f</a><span class="social-span">Become a fan on Facebook</span></li>
			     <script><!-- hide
                 function openWin2() {
                 myWin=open("http://www.facebook.com/sharer.php?u=http://www.kleynodsoft.com/en/","displayWindow","width=520,height=300,left=350,top=170,status=no,toolbar=no,menubar=no");
                 }
                 // -->
                 </script>
			<li class="twitter"><a class="social-item" href="https://twitter.com/share" class="twitter-share-button" data-lang="ru" target=_blank>t</a><span class="social-span">Follow us on Twitter</span></li>
			     <script>
                 !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			<li class="flickr"><a class="social-item" href="http://plus.google.com/share?url=http://www.kleynodsoft.com/en/" target=_blank>g+</a><span class="social-span">Add us on Google+</span></li>
			<li class="rss"><a class="social-item" href="http://vkontakte.ru/share.php?url=http://www.kleynodsoft.com/en/" target="_blank">vk</a><span class="social-span">Follow us on Vk</span></li>
			<li class="mail"><a class="social-item" target="_blank"
 class="mrc__plugin_uber_like_button" 
href="http://connect.mail.ru/share" data-mrc-config="{'type' : 
'button', 'caption-mm' : '1', 'caption-ok' : '1', 'counter' : 'true',
 'text' : 'true', 'width' : '100%'}"><img src="images/mail.png" border='0' alt='' style="margin-top: -5px;"></a><span class="social-span">Follow us on Mail.ru</span><script src="http://cdn.connect.mail.ru/js/loader.js" 
type="text/javascript" charset="UTF-8"></script></li>
		</ul>
	</div>
	<!-- change this div to a nav tag if you're not planning on supporting IE users -->
	  
<div class="main">
<div class="logo">
        <a href="http://kleynodsoft.com/"><img src="images/logo.png" alt=" "></a>

</div>
<div class="flag">
	  <a href="http://kleynodsoft.com/"><img src="images/ukrainian.png" border=0 alt=" "></a>
	 <p> <a href="ru/index.html"><img src="images/russian.png" border=0 alt=" "></a></p>
	  <p><a href="en/index.html"><img src="images/english.png" border=0 alt=" "></a></p>
	  </div>
	  
  <div class="header">
  <div class="header_resize_i">
	  <div class="clr"></div>
	 	 <div class="menu_nav">
	  <ul class="dropdown">
         <li><a class="a" href="it_news.html" style="height: 10px; display: block;"><span class="indent" style="height: 37px;"><button class="minimal-indent" style="height: 45px;"><span>News</span></button></span></a></li>
          <li class="active"><a class="a" href="http://kleynodsoft.com/">Головна</a></li>
          <li><a class="a" href="our_portfolio.html"><span>Портфоліо</span></a>
		     <ul class="sub_menu">
		     <li><a href="portfolio.html" class="z">Веб-дизайн </a></li>
			 <li><a href="portfolio-video.html"  class="z">Встановлення систем відеореєстрації та оповіщення</a></li>
			<li><a href="portfolio-prezentation.html" class="z">Створення презентацій</a></li>
			 </ul>
		</li>
         <li><a class="a" href="our_service.html"><span>Наш сервіс</span></a>
		      <ul class="sub_menu">
		     <li><a href="outsourcing.html" class="z" style="color: #ffffff "><font style="font-size: 20px;">Аутсорсинг</font></a></li>
			<li><a href="vstanovlennya.html" class="z">Встановлення систем відеоспостереження</a>
			     <ul>
			     <li><a href="vstanovlennya_vlasnoy.html" class="z">Встановлення і обслуговування власної системи відеореєстрації та оповіщення </a>
				 	     <ul>
        			     <li><a href="ohoronni_kompanii.html" class="z">Для охоронних компаній</a></li>
					     <li><a href="ofic.html" class="z">Для офісів та логістичних центрів</a></li>
					     <li><a href="private.html" class="z">Для приватних осіб</a></li>
				         </ul>
				 </li>
				 <li><a href="rozyerminnuvannya.html" class="z">Розтермінування виплат за встановлення обладнання і системи</a></li>
			     <li><a href="orenda.html" class="z">Оренда обладнання відеоспостереження</a></li>
			     </ul>
			  </li>
			<li><a href="web_design.html" class="z">Web - дизайн</a></li>
			<li><a href="analiz.html" class="z">Аналіз захищеності веб-сайтів</a></li>
			<li><a href="el_arhiv.html" class="z">Створення електронного архіву документів</a></li>
			<li><a href="SEO.html" class="z">SEO- послуги</a></li>
			<li><a href="prezentation.html" class="z">Створення презентацій</a></li>
			   </ul>
		</li>
		  <li><a class="a" href="patent.html"><span>Патенти</span></a></li>
		  <li id="xc"><a class="a" href="our_partners.html"><span>Партнери та Клієнти</span></a></li>
          <li><a class="a" href="contact.html"><span>Контакти</span></a></li>
        </ul>	
	</div>
	  
      
      <div class="slider">
	  
        <div id="coin-slider"> <a href="vstanovlennya_vlasnoy.html"><img src="images/slide1.jpg" width="960" height="302" alt="" ></a> <a href="orenda.html"><img src="images/slide2.jpg" width="302" height="361" alt="" ></a> <a href="outsourcing.html"><img src="images/slide3.jpg" width="302" height="361" alt="" ></a> <a href="portfolio.html"><img src="images/slide4.jpg" width="302" height="361" alt="" ></a> </div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  
<div class="content">
<div class="alc">
      <h1 style="display: none;">Клейнод Софт</h1>
   <div class="progects">
     <div id="tx_i">
	 <div class="size" style="padding-top: 25px;">
    <center><h1 class="zx">Клейнод Софт – <span class="zx">молода ІТ компанія, що динамічно розвивається</span></h1></center>
    <p class="nj" style="font-size: 18px; margin-left: 45px;">  Компанія надає повний спектр послуг з розробки, тестування, впровадження та підтримки найсучаснішого програмного забезпечення, аутсорсингом, а також займається розробкою програмного забезпечення для систем відеоспостереження та оповіщення.</p>
 
 <p class="nj" style="font-size: 18px; margin-left: 45px;"> Ми дотримуємось найвищих стандартів та пропонуємо клієнтам лише якісні рішення, базуючись на глибокому та комплексному підході до вирішення поставлених завдань.</p>
		</div>
		
		<p style="text-align: center; color: #fff; font-size: 15px; line-height: 40px;">Наші сервіси</p>
		<div style=" height: 110px; width: 100%; position: relative;">
<div style="top: 10px; left: 50px; position: absolute;">
	<ul id="spis5">
	<li><a href="http://kleynodsoft.com/outsourcing.html" class="column">Аутсорсинг</a></li>
	<li><a href="http://kleynodsoft.com/vstanovlennya.html" class="column">Встановлення систем відеоспостереження</a></li>
	<li><a href="http://kleynodsoft.com/web_design.html" class="column">Web - дизайн</a></li>
	<li><a href="http://kleynodsoft.com/analiz.html" class="column">Аналіз захищеності веб-сайтов</a></li>
	</ul>
	</div>

<div style="top: 10px; left: 450px; position: absolute;">
	<ul id="spis5">
	<li><a href="http://kleynodsoft.com/el_arhiv.html" class="column">Створення електронного архіву документів</a></li>
	<li><a href="http://kleynodsoft.com/SEO.html" class="column">Seo - послуги</a></li>
	<li><a href="http://kleynodsoft.com/prezentation.html" class="column">Створення презентацій</a></li>
	</ul>
	</div>
</div>
	</div>
		 
   </div>

<div class="clr"></div>

<div class="nz_i">
<div class="nz2">
     <div class="col1">
	 <div class="clr"></div>
	     
		 <div id="cl1_img" >
		 
		 <div class="container">
		 <img src="images/vk2.png" border="0" alt="vk" class="vk2">
		 <img src="images/face.png" border="0" alt="facebook" id="facebook">
            <ul id="menu">
                <li>
				<img src="images/shad.png" border='0' alt="" class="shad">
                    <a href="http://vk.com/public57036465" target="_blank">
                        <i class="icon_about"></i>
                       <span class="title"></span>
                    </a>
                </li>
                <li style="margin-left: 120px;">
				<img src="images/shad.png" border='0' alt="" class="shad2">
                    <a href="https://www.facebook.com/Kleynodsoft"  target="_blank" >
                        <i class="icon_work" style="left: 20px;"></i>
                        <span class="title"></span>
                    </a>
                </li>
            </ul>
        </div>
		 </div>
		 
	 </div>
	
	 <div class="col2">
	     <div id="c1"><h3><a href="contact.html">Контакти</a></h3></div>
		 <div id="c2_text">
		 Компанія KleynodSoft  <p>тел: +38 (098)0282494
		                       <p style="margin-left: 30px;"> +38 (063) 2308261 </p> <p>email: <a href="mailto:info@kleynodsoft.com">info@kleynodsoft.com</a></p>
 
		 </div>
	 </div>
</div>
</div>
 <div class="clr"></div>

<div class="footer" style="background-image: url('images/footer.png')">
      (С) 2013, ТОВ "Клейнод Софт", всі права захищені.
<!--LiveInternet counter--><div style="float:right;margin-right: -150px;"><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.11;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21702094 = new Ya.Metrika({id:21702094,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21702094" style="position:absolute; left:-9999px;" alt="" ></div></noscript>   </div>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-42705662-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</div>
</div>
</div>
</div>

<!-- The JavaScript -->
        
        <script type="text/javascript">
        $(function() {
            $('#menu > li').hover(
                function () {
                    var $this = $(this);
                    $('a',$this).stop(true,true).animate({
                            'bottom':'55px'
                        }, 300);
                    $('i',$this).stop(true,true).animate({
                            'top':'0px'
                        }, 400);
                },
                function () {
                    var $this = $(this);
                    $('a',$this).stop(true,true).animate({
                            'bottom':'10px'
                        }, 300);
                    $('i',$this).stop(true,true).animate({
                            'top':'-20px'
                        }, 400);
                }
            );
        });
        </script>
</body>
</html>