<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<meta http-equiv="content-language" content="ua">
<meta name="geo.placename" content="Украина, Львов" > 
<meta name="desription" content=" В этой статье хотелось бы поговорить об основных принципах раскрутки сайта на начальном этапе.
Итак, со структурой опредились, сайт создан и залит на сервер. Что же дальше?..">
<title>IT новости | Внутренняя оптимизация - Kleynodsoft</title>
<link href="http://kleynodsoft.com/ru/css/style_news.css" rel="stylesheet" type="text/css" >
<link rel="stylesheet" type="text/css" href="http://kleynodsoft.com/ru/css/layout.css" />
<link rel="stylesheet" type="text/css" href="http://kleynodsoft.com/ru/css/a.css" />
     <link rel="stylesheet" type="text/css" href="http://kleynodsoft.com/ru/css/style1.css" />
	 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
     <script language="javascript" type="text/javascript" src="http://kleynodsoft.com/ru/js/jquery.easing.js"></script>
     <script language="javascript" type="text/javascript" src="http://kleynodsoft.com/ru/js/script1.js"></script>
<script type="text/javascript">
 $(document).ready( function(){	
		var buttons = { previous:$('#jslidernews2 .button-previous') ,
						next:$('#jslidernews2 .button-next') };			 
		$('#jslidernews2').lofJSidernews( { interval:5000,
											 	easing:'easeInOutQuad',
												duration:1200,
												auto:true,
												mainWidth:684,
												mainHeight:450,
												navigatorHeight		: 150,
												navigatorWidth		: 310,
												maxItemDisplay:3,
												buttons:buttons } );						
	});

</script>
<style>
	
	ul.lof-main-wapper li {
		position:relative;	
	}
</style>
<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?31"></script>

<script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>

<script type="text/javascript">
  VK.init({apiId: 3821165, onlyWidgets: true});
</script>

<script type="text/javascript" src="http://apis.google.com/js/plusone.js">
  {lang: 'ru', parsetags: 'explicit'}
</script>
<script>
function addLink() {
    var body_element = document.getElementsByTagName('body')[0];
    var selection = window.getSelection();


    var pagelink = "<p>Источник: <a href='"+document.location.href+"'>"+document.location.href+"</a> &copy; 2013 KleynodSoft - Веб-дизайн и разработка сайтов.</p>";
    var copytext = selection + pagelink;
    var newdiv = document.createElement('div');
    newdiv.style.position = 'absolute';
    newdiv.style.left = '-99999px';
    body_element.appendChild(newdiv);
    newdiv.innerHTML = copytext;
    selection.selectAllChildren(newdiv);
    window.setTimeout( function() {
        body_element.removeChild(newdiv);
    }, 0);
}
document.oncopy = addLink;

</script>
</head>

<body>
<div class="header">
<a href="http://kleynodsoft.com/ru/index.html"  title="Главная"><img src="http://kleynodsoft.com/ru/images/logo_news.png" border='0' alt="" height="100%"></a>
</div>


<a href="news_it.html" title="Меню" style="position: fixed; top: 300px; left: 0px;"><img src="http://kleynodsoft.com/images/feedback.png" alt="Меню" ></a>


<div class="clr"></div>
<div class="content_n">
     <div style="float: right; font-size: 12px;">22.08.2013</div>
	<center><h1>Первые шаги в раскрутке сайта</h1></center>
	
   <p>В этой статье хотелось бы поговорить об <strong>основных принципах раскрутки сайта</strong> на начальном этапе.</p>
	<p>Итак, со структурой опредились, сайт создан и залит на сервер. Что же дальше?</p>
	<p>В первую очередь хочется отметить тот факт, что количество страниц на сайте прямо пропорционально количеству посещений. То есть, чем больше страниц имеет сайт, тем по большему количеству запросов его могут найти, что, в свою очередь, не может не отразиться на положительном росте посещаемости. При этом, страницы сайта должны содержать интересный тематический контент, содержащий определенные ключевые слова, заранее подготовленные для продвижение (семантическое ядро). О том, <strong>как составлять семантическое ядро</strong>, мы поговорим уже в последующих статьях.</p>
	<p>Ну вот, мы имеем много страниц с тематическим контентом, сайт регулярно наполняется статьями, картинками (не забываем в картинках указывать атрибут “alt” с ключевыми словами), и дизайн сайта приятный на глаз. Теперь, возникает необходимость поработать с тегами h1, h2, h3, h4, h5 и h6. Чем меньшая цифра стоит после  “h”, тем большее значение имеет текст, обрамленный в этот тег для поисковых систем. Соответсвенно, в теги h1 и h2 ставим ключевые слова или фразы, которое имеет наивысший приоритет для Вашего сайта,  а далее — по убывающей.</p>
	<p>На первых порах <a href="http://kleynodsoft.com/ru/SEO.html">SEO оптимизации сайта</a> ни о какой закупке ссылок, или прочих «уловок» оптимизаторов речи быть не может, разве-что, можно покупать по одной ссылке раз в 2 недели, ито, желательно с сайтов с низким тИЦ и PageRang, желательно безанкорные, редко разбавляемы анкорными.</p>
	<p><strong>Первые этапы раскрутки сайта</strong> должны быть направлены на работу над внутренней структурой сайта, правку кода, разбавление текста ключевыми словами, внутреннюю перелинковку и т. д.</p>
	<p>Социальные сети на первых порах — также бесполезны. Единственное, что следует сделать, это создать <a href="http://vk.com/public57036465">паблик</a> и <a href="http://vk.com/it_kleynod_soft">группу Вконтакте</a>, и постепенно ее наполнять, ссылаясь на сайт. Также, завести <a href="https://www.facebook.com/Kleynodsoft">оффициальную страницу на фэйсбуке</a> — не помешает.</p>
	<p>Также, не забываем прятать от индексации недоработанные или служебные странички в robots.txt, как это делать, Вы также узнаете в последующих статьях.</p>



<div style="float:left"><div id="fb-root"></div></div>
<div style="float:left"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="utz0r2" data-lang="ru">Tweet</a></div>
<div style="float:left"><g:plusone size="medium"></g:plusone></div>
<div style="float:left"><div id="vk_like"></div></div>
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "button"});
</script>


<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">gapi.plusone.go();</script>
<script src="http://connect.facebook.net/ru_RU/all.js#xfbml=1"></script><fb:like href="" send="true" layout="button_count" width="250" show_faces="true" font="tahoma"></fb:like>

</div>
<div class="line_v_n">&nbsp</div>
<div class="reclama_n">

     <div class="zag">Реклама</div>
	 Здесь будут размещаться блоки рекламы...
	 
	  <!-- HotLog -->
<div style="float:right; right: 150px; bottom: 5px; position: fixed;"><script type="text/javascript">
hotlog_r=""+Math.random()+"&s=2311183&im=609&r="+
escape(document.referrer)+"&pg="+escape(window.location.href);
hotlog_r+="&j="+(navigator.javaEnabled()?"Y":"N");
hotlog_r+="&wh="+screen.width+"x"+screen.height+"&px="+
(((navigator.appName.substring(0,3)=="Mic"))?screen.colorDepth:screen.pixelDepth);
hotlog_r+="&js=1.3";
document.write('<a href="http://click.hotlog.ru/?2311183" target="_blank"><img '+
'src="http://hit3.hotlog.ru/cgi-bin/hotlog/count?'+
hotlog_r+'" border="0" width="88" height="31" title="HotLog: показано количество посетителей за сегодня, за вчера и всего" alt="HotLog"><\/a>');
</script>
<noscript>
<a href="http://click.hotlog.ru/?2311183" target="_blank"><img
src="http://hit3.hotlog.ru/cgi-bin/hotlog/count?s=2311183&im=609" border="0"
width="88" height="31" title="HotLog: показано количество посетителей за сегодня, за вчера и всего" alt="HotLog"></a>
</noscript></div>
<!-- /HotLog -->	 
	 <!--LiveInternet counter--><div style="float:right;right: 10px; bottom: 5px; position: fixed;"><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.11;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21702094 = new Ya.Metrika({id:21702094,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21702094" style="position:absolute; left:-9999px;" alt="" ></div></noscript>   </div>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-42705662-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

</div>




</body>
</html>