<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<meta http-equiv="content-language" content="ua">
<meta name="geo.placename" content="Украина, Львов" > 
<meta name="description" content="Компанія “Клейнод Софт” (KleynodSoft) пропонує комплекс робіт з просування і SEO-оптимізації сайтів. SEO-аудит. Внутрішня та зовнішня оптимізація. Налаштування компанії контекстної реклами. ">
<title>Розкрутка сайту | seo аудит - Kleynodsoft</title>
<link href="css/style.css" rel="stylesheet" type="text/css" >
 
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" >
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-georgia.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>

<link rel="stylesheet" type="text/css" href="highslide/highslide.css" >
<script type="text/javascript" src="highslide/highslide.js"></script>
<script type="text/javascript">
hs.graphicsDir = 'highslide/graphics/';
hs.wrapperClassName = 'wide-border';
</script>
<!-- меню -->
<link rel="stylesheet" href="css/style2.css" type="text/css" media="screen, projection">
	<!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
    <![endif]-->
			
	<script type="text/javascript" src="js/jquery-1.3.1.min.js"></script>	
	<script type="text/javascript" language="javascript" src="js/jquery.dropdownPlain.js"></script>
<!-- меню -->
</head>
<body>
<!-- change this div to a nav tag if you're not planning on supporting IE users -->
	<div class="menu">
		<ul class="primary-menu">
			<li class="facebook"><a class="social-item" href="#null" onClick="openWin2()" >f</a><span class="social-span">Become a fan on Facebook</span></li>
			     <script><!-- hide
                 function openWin2() {
                 myWin=open("http://www.facebook.com/sharer.php?u=http://www.kleynodsoft.com/en/SEO.html","displayWindow","width=520,height=300,left=350,top=170,status=no,toolbar=no,menubar=no");
                 }
                 // -->
                 </script>
			<li class="twitter"><a class="social-item" href="https://twitter.com/share" class="twitter-share-button" data-lang="ru" target=_blank>t</a><span class="social-span">Follow us on Twitter</span></li>
			     <script>
                 !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			<li class="flickr"><a class="social-item" href="http://plus.google.com/share?url=http://www.kleynodsoft.com/en/SEO.html" target=_blank>g+</a><span class="social-span">Add us on Google+</span></li>
			<li class="rss"><a class="social-item" href="http://vkontakte.ru/share.php?url=http://www.kleynodsoft.com/en/SEO.html" target="_blank">vk</a><span class="social-span">Follow us on Vk</span></li>
			<li class="mail"><a class="social-item" target="_blank"
 class="mrc__plugin_uber_like_button" 
href="http://connect.mail.ru/share" data-mrc-config="{'type' : 
'button', 'caption-mm' : '1', 'caption-ok' : '1', 'counter' : 'true',
 'text' : 'true', 'width' : '100%'}"><img src="images/mail.png" border='0' alt='' style="margin-top: -5px;"></a><span class="social-span">Follow us on Mail.ru</span><script src="http://cdn.connect.mail.ru/js/loader.js" 
type="text/javascript" charset="UTF-8"></script></li>
		</ul>
	</div>
	<!-- change this div to a nav tag if you're not planning on supporting IE users -->

	
<div class="main">
<div class="logo">
        <a href="http://kleynodsoft.com/"><img src="images/logo.png" alt=" "></a>

</div>
		<div class="flag">
	  <a href="SEO.html"><img src="images/ukrainian.png" border=0 alt=" "></a>
	  <p><a href="ru/SEO.html"><img src="images/russian.png" border=0 alt=" "></a></p>
	 <p> <a href="en/SEO.html"><img src="images/english.png" border=0 alt=" "></a></p>
	  </div>
	  
  <div class="header">
    <div class="header_resize">

	  <div class="clr"></div>
	  <div class="menu_nav">
		 	  <ul class="dropdown">
          <li><a class="a" href="it_news.html" style="height: 10px;"><span class="indent"><button class="minimal-indent"><span>News</span></button></span></a></li>
          <li><a class="a" href="http://kleynodsoft.com/">Головна</a></li>
          <li><a class="a" href="our_portfolio.html"><span>Портфоліо</span></a>
		     <ul class="sub_menu">
		     <li><a href="portfolio.html" class="z">Веб-дизайн </a></li>
			 <li><a href="portfolio-video.html"  class="z">Встановлення систем відеореєстрації та оповіщення</a></li>
			<li><a href="portfolio-prezentation.html" class="z">Створення презентацій</a></li>
			 </ul>
		</li>
         <li class="active"><a class="a" href="our_service.html"><span>Наш сервіс</span></a>
		      <ul class="sub_menu">
		    <li><a href="outsourcing.html" class="z" style="color: #ffffff "><font style="font-size: 20px;">Аутсорсинг</font></a></li>
			<li><a href="vstanovlennya.html" class="z">Встановлення систем відеоспостереження</a>
			     <ul>
			     <li><a href="vstanovlennya_vlasnoy.html" class="z">Встановлення і обслуговування власної системи відеореєстрації та оповіщення </a>
				 	     <ul>
        			     <li><a href="ohoronni_kompanii.html" class="z">Для охоронних компаній</a></li>
					     <li><a href="ofic.html" class="z">Для офісів та логістичних центрів</a></li>
					     <li><a href="private.html" class="z">Для приватних осіб</a></li>
				         </ul>
				 </li>
				 <li><a href="rozyerminnuvannya.html" class="z">Розтермінування виплат за встановлення обладнання і системи</a></li>
			     <li><a href="orenda.html" class="z">Оренда обладнання відеоспостереження</a></li>
			     </ul>
			  </li>
			<li><a href="web_design.html" class="z">Web - дизайн</a></li>
			<li><a href="analiz.html" class="z">Аналіз захищеності веб-сайтів</a></li>
			<li><a href="el_arhiv.html" class="z">Створення електронного архіву документів</a></li>
			<li><a href="SEO.html" class="z">SEO- послуги</a></li>
			<li><a href="prezentation.html" class="z">Створення презентацій</a></li>
			   </ul>
		</li>
		  <li><a class="a" href="patent.html"><span>Патенти</span></a></li>
		  <li id="xc"><a class="a" href="our_partners.html"><span>Партнери та Клієнти</span></a></li>
          <li><a class="a" href="contact.html"><span>Контакти</span></a></li>
        </ul>
	  </div>
  <div class="cv"><img src="images/line_m.png" border=0 alt=" "></div>
    </div>
  </div>
  
<div class="grafic_w" >
    <img border=1 src="images/SEO.png" id='SlideShow' width='960' height='333' ></a>
</div>    
  
<div class="content" style="padding-top: 35px;">

<div id="tx" >
<center><h1 class="f">КОМПАНІЯ КЛЕЙНОД СОФТ ПРОПОНУЄ ПОСЛУГУ З КОМПЛЕКСНОГО ПРОСУВАННЯ САЙТІВ</h1></center>
		
<p>Роботи з пошукового просування включають <font style="text-decoration: underline;">внутрішню оптимізацію сайту</font> і <font style="text-decoration: underline;">зовнішні заходи</font>, спрямовані на підвищення позицій по кожному з пошукових запитів.</p>


<p><h3>МИ ПРОПОНУЄМО:</h3></p>
<p><h3 class="d">1. SEO-оптимізація і просування веб-сайту</h3></p>
<p><h3>1.1. повний SEO-аудит сайту:</h3></p>
<ul id="spis5">
<li>перевірка валідності коду, усунення помилок;</li>
<li>впровадження мета-тегів (title, keywords; для фотографій товарів в каталозі - alt, title);</li>
<li>робота із заголовками (H1, H2);</li>
<li>меню сайту: формування структури breadcrumbs ("хлібні крихти");</li>
<li>наявність і коректність файлу robots.txt, загальна оцінка сторінок з точки зору їх придатності для індексації пошуковими системами;</li>
<li>аналіз видимості сайту в пошукових системах;</li>
<li>аналіз структури сайту, перевірка коректності посилань;</li>
<li>аналіз джерел трафіку;</li>
<li>аналіз позиції в пошуковій видачі сайтів схожої тематики.</li>
</ul>

<p><h3>1.2. SEO-просування сайту:</h3></p>
<ul id="spis5">
<li>аналіз ключових запитів;</li>
<li>формування розгорнутої карти сайту;</li>
<li>формування стратегії просування (по низькочастотних / високочастотних запитах);</li>
<li>формування семантичного ядра для сайту, виділення масиву ключовиків, за якими буде проводитися просування;</li>
<li>наповнення сайту унікальним контентом відповідно до набору ключових слів (див.п. Оптимізація структури сайту, робота з контентом);</li>
<li>реєстрація сайту в каталогах, розміщення (купівля) посилань на тематичних ресурсах, форумах, блогах;</li>
<li>додавання сайту в DMOZ, Яндекс.Каталог і т.п.</li>
</ul>


<p><h3 class="d">2. Оптимізація структури сайту, робота з контентом</h3></p>
<p><h3>2.1. Аналіз структури сайту:</h3></p>
<ul id="spis5">
<li>оцінка загальної логічності структури сайту;</li>
<li>оптимізація структури каталогу;</li>
<li>оцінка повноти надання інформації на потенційних "посадочних" сторінках (головна сторінка, сторінки з описом популярних позицій каталогу. Сторінка з опис програми та ін)</li>
</ul>

<p><h3>2.2. Аналіз практичності (usability):</h3></p>
<ul id="spis5">
<li>аналіз зручності і повноти системи навігації;</li>
<li>загальна оцінка зручності інтерфейсів;</li>
<li>перевірка якості відображення сайту в різних браузерах;</li>
<li>тестування зручності, простоти і коректності роботи форми реєстрації, оформлення замовлення, оплати, зворотного зв'язку;</li>
<li>наявність механізмів пошуку інформації на сайті, коректність їх роботи.</li>
</ul>

<p><h3>2.3. Робота з контентом:</h3></p>
<ul id="spis5">
<li>аналіз головної сторінки сайту з точки зору насиченості необхідним контентом, логіки його подачі, читабельності тощо;</li>
<li>аналіз повноти надання користувачеві інформації (зміст розділів "Про нас", "Оплата", "Доставка", "Контакти");</li>
<li>аналіз повноти надання інформації на сторінці (опис, анотація, цитати, оформлення заголовків, насиченість ключовими словами, впровадження ключових слів у заголовки, цитати, посилання);</li>
<li>аналіз загальної читабельності тексту;</li>
<li>розробка єдиної схеми візуального оформлення тексту (заголовки, абзаци, цитати, посилання й ін);</li>
<li>внутрішня перелінковка сторінок (посилання на сторінки, посилання на інформаційні матеріали);</li>
<li>створення розділів з унікальним контентом, написання контенту відповідно до семантичниого ядра, сформованого у процесі SEO-аналізу сайту (варіанти розділів: інформація про авторів; вибрані глави з популярних видань; довідкова інформація тощо).</li>
</ul>

<p><h3 class="d">3. Просування веб-сайту</h3></p>
<p><h3>3.1. Стандартні засоби просування:</h3></p>
<ul id="spis5">
<li>контекстна реклама: GoogleAdsense, Яндекс.Директ. Створення рекламних кампаній у відповідності зі сформованим набором ключових запитів;</li>
<li>реклама на тематичних ресурсах: розміщення банерів та інших типів рекламних носіїв на тематичних ресурсах (правова, освітня тематика тощо);</li>
<li>публікація статей, прес-релізів, анонсів на тематичних ресурсах, форумах, блогах.</li>
</ul>

<p><h3>3.2. Просування в соціальних мережах</h3></p>
<ul id="spis5">
<li>Забезпечення <font style="text-decoration: underline; color: #cbd66e;">простої присутності</font> в соцмережах - тобто створити профілі в найбільш популярних з них і оновлювати на них інформацію з встановленою заздалегідь періодичністю - розміщувати анонси видань, публікувати цитати, корисні факти і пр.;</li>
<li>Створення та впровадження стратегії <font style="text-decoration: underline; color: #cbd66e;">активного просування</font> за допомогою соцмереж.</li>
</ul>


</div>


<div class="clr"></div>


<div class="footer" style="background-image: url('images/footer.png')">
      (С) 2013, ТОВ "Клейнод Софт", всі права захищені.
<!--LiveInternet counter--><div style="float:right;margin-right: -150px;"><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.11;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21702094 = new Ya.Metrika({id:21702094,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21702094" style="position:absolute; left:-9999px;" alt="" ></div></noscript>   </div>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-42705662-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</div>
</div>

</div>


</body>
</html>