


h3 { color: #656565; }

p { color: #656565; font-size: 1.2em; margin-bottom: 10px; }

#wrapper { width: 640px; margin: 0 auto; padding:90px 0px 0px 0px; }

#inline { display: none; width: 600px; z-index: 99999}

label { margin-right: 12px; margin-bottom: 9px; font-family: Georgia, serif; color: #646464; font-size: 1.2em; }


#sButton {
background:#2F52B7;
border-top:2px solid #fff;
border-left:2px solid #fff;
border-right:2px solid #fff;
-webkit-border-top-left-radius:4px;
-khtml-border-top-left-radius:4px;
-moz-border-top-left-radius:4px;
border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-khtml-border-top-right-radius:4px;
-moz-border-top-right-radius:4px;
border-top-right-radius:4px;
-webkit-box-shadow:0em 0em 0.5em rgba(0, 0, 0, 0.5);
-moz-box-shadow:0em 0em 0.5em rgba(0, 0, 0, 0.5);
box-shadow:0em 0em 0.5em rgba(0, 0, 0, 0.5);
-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg);
-ms-transform:rotate(90deg);
-o-transform:rotate(90deg);
font-family:Helvetica, Arial, sans-serif;
font-size:15px;
position:fixed;
top:400px;
left:-63px;

}
#sButton_p {
background:#2F52B7;
border-top:2px solid #fff;
border-left:2px solid #fff;
border-right:2px solid #fff;
-webkit-border-top-left-radius:4px;
-khtml-border-top-left-radius:4px;
-moz-border-top-left-radius:4px;
border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-khtml-border-top-right-radius:4px;
-moz-border-top-right-radius:4px;
border-top-right-radius:4px;
-webkit-box-shadow:0em 0em 0.5em rgba(0, 0, 0, 0.5);
-moz-box-shadow:0em 0em 0.5em rgba(0, 0, 0, 0.5);
box-shadow:0em 0em 0.5em rgba(0, 0, 0, 0.5);
-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg);
-ms-transform:rotate(90deg);
-o-transform:rotate(90deg);
font-family:Helvetica, Arial, sans-serif;
font-size:17px;
position:fixed;
top:550px;
left:-63px;
}
noindex:-o-prefocus, 
#inline { position:normal; display: none; width: 600px;}

#sButton:hover {
left:-59px;
}
#sButton a {
text-decoration:none;
border:0;
}
#sButton_p:hover {
left:-59px;
}
#sButton_p a {
text-decoration:none;
border:0;
}
#sButton .s_button {
color:#fff;
font-size:15px;
font-weight:bold;
text-shadow:1px 1px 1px #222;
padding:10px 12px 7px 12px;
-webkit-transform:rotate(180deg);
-moz-transform:rotate(180deg);
-ms-transform:rotate(180deg);
-o-transform:rotate(180deg);
	}
#sButton_p .s_button_p {
color:#fff;
font-size:15px;
font-weight:bold;
text-shadow:1px 1px 1px #222;
padding:10px 12px 7px 12px;
-webkit-transform:rotate(180deg);
-moz-transform:rotate(180deg);
-ms-transform:rotate(180deg);
-o-transform:rotate(180deg);
	}
.txt { 
display: inline-block; 
color: #676767;
width: 70px; 
font-family: Arial, Tahoma, sans-serif; 
margin-bottom: 10px; 
border: 1px dotted #ccc; 
padding: 5px 9px;
font-size: 1.2em;
line-height: 1.4em;
}
.txt2 { 
display: inline-block; 
color: #676767;
width: 170px; 
font-family: Arial, Tahoma, sans-serif; 
margin-bottom: 10px; 
border: 1px dotted #ccc; 
padding: 5px 9px;
font-size: 1.2em;
line-height: 1.4em;
}
.txtarea { 
display: block; 
resize: none;
color: #676767;
font-family: Arial, Tahoma, sans-serif; 
margin-bottom: 10px; 
width: 500px; 
height: 150px;
border: 1px dotted #ccc;
padding: 5px 9px; 
font-size: 1.2em;
line-height: 1.4em;
}

.txt:focus, .txtarea:focus { border-style: solid; border-color: #bababa; color: #444; }

input.error, textarea.error { border-color: #973d3d; border-style: solid; background: #f0bebe; color: #a35959; }
input.error:focus, textarea.error:focus { border-color: #973d3d; color: #a35959; }

#send { 
color: #dee5f0;
display: block;
cursor: pointer;
padding: 5px 11px;
font-size: 1.2em;
border: solid 1px #224983;
border-radius: 5px;
background: #1e4c99; 
background: -webkit-gradient(linear, left top, left bottom, from(#2f52b7), to(#0e3a7d)); 
background: -moz-linear-gradient(top, #2f52b7, #0e3a7d); 
background: -webkit-linear-gradient(top, #2f52b7, #0e3a7d);
background: -o-linear-gradient(top, #2f52b7, #0e3a7d);
background: -ms-linear-gradient(top, #2f52b7, #0e3a7d);
background: linear-gradient(top, #2f52b7, #0e3a7d);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f52b7', endColorstr='#0e3a7d'); 
}
#send:hover {
background: #183d80; 
background: -webkit-gradient(linear, left top, left bottom, from(#284f9d), to(#0c2b6b)); 
background: -moz-linear-gradient(top,  #284f9d, #0c2b6b); 
background: -webkit-linear-gradient(top, #284f9d, #0c2b6b);
background: -o-linear-gradient(top, #284f9d, #0c2b6b);
background: -ms-linear-gradient(top, #284f9d, #0c2b6b);
background: linear-gradient(top, #284f9d, #0c2b6b);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284f9d', endColorstr='#0c2b6b');
}
#send:active {
color: #8c9dc0; 
background: -webkit-gradient(linear, left top, left bottom, from(#0e387d), to(#2f55b7)); 
background: -moz-linear-gradient(top,  #0e387d,  #2f55b7);
background: -webkit-linear-gradient(top, #0e387d, #2f55b7);
background: -o-linear-gradient(top, #0e387d, #2f55b7);
background: -ms-linear-gradient(top, #0e387d, #2f55b7);
background: linear-gradient(top, #0e387d, #2f55b7);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e387d', endColorstr='#2f55b7');
}