
.z		{ text-decoration: none; font-size: 10px; font-weight: normal; text-align: left;}
ul									{ list-style: none; }


.buttonText {
  font-family: 'Lobster', arial, serif; 
}


/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; }
ul.dropdown li                      { font-size: 12px; font-weight: bold;  background: none; width: 125px; text-align: left;}
#xc                 { font-size: 12px; font-weight: bold;  background: none; width: 195px; text-align: left;  }
ul.dropdown a:hover		            { color: #2f2f2f; }
ul.dropdown a:active                { color: #000000; }
ul.dropdown li a                    { display: block;  
	 								  color: #2f2f2f; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover     {   position: relative; } 
ul.dropdown li.hover a              { color: #ffffff; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 120px; visibility: hidden; position: absolute; top: 100%;  margin:0; padding:0; z-index: 999999;}
ul.dropdown ul li 					{  background-color: rgba(0, 161, 228, 0.8); color: #2f2f2f; font-weight: bold; font-size: 10px; border: 1px solid #505050; float: none; margin:0; padding:0; width: 125px;z-index: 999999;}
ul.dropdown ul:hover                { color: #000000; margin:0; padding:0; z-index: 999999;}
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 125px; display: inline-block; margin: 0; padding:4px 0px; z-index: 999999;} 
ul.sub_menu li a {
                   text-decoration: none; 
				   font-size: 12px; 
				   font-weight: bold; 
				   text-align: left;
				   margin-left: -20px;
				   width: 125px;
				   z-index: 999999;
}


/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; margin:0; padding:0; width: 125px;}
ul.dropdown li:hover > ul 			{ visibility: visible; }